<template>
    <div>
        <div class="row">
            <div class="col-4">
                <v-select
                        :items="Empresa"
                        label="Seleccione Fabricante"
                        required
                        item-text="idPersona"
                        item-value="idPersona"
                        return-object
                        v-model="nombre"
                        single-line
                        id="empresa"
                ></v-select>
            </div>
            <div class="col-2">
                <button class="btn siif btn-w float-right " @click="Fabricante(nombre.idPersona)" >Seleccionar</button>
            </div>
        </div>
        <div v-if="nombre">
            <v-data-table
                    :headers="header"
                    :items="auditoria"
                    select-all
                    item-key="descripcion_detalle"
                    hide-actions
                    class="elevation-1"
                    rows-per-page-text="Registros por pagina"
            >
            <template slot="headers" slot-scope="props">
                <tr>
                    <th>
                    <v-checkbox
                        :input-value="count==size"
                        :indeterminate="(count>0 && count<size)"
                        primary
                        hide-details
                        @click.native="selectAll"
                    ></v-checkbox>
                    </th>
                    <th
                    v-for="header in props.headers"
                    :key="header.text"
                    >
                    {{ header.text }}
                    </th>
                 </tr>
                </template>
                <template slot="items" slot-scope="props">
                  <tr :active="props.item.idestatus" @click="props.item.idestatus=(props.item.idestatus=='1')?'0':'1'">
                    <td>
                        <v-checkbox
                        :input-value="(props.item.idestatus=='1')"
                        primary
                        hide-details

                        ></v-checkbox>
                    </td>
                        <td>{{ props.item.idPersona}}</td>
                        <td>{{ props.item.cod_modulo }}</td>
                        <td>{{ props.item.cod_opcion }}</td>
                        <td >{{ props.item.descripcion_detalle }}</td>
                        <td >{{ props.item.fecha_detalle }}</td>
                    </tr>
                    <!--<td class=" layout px-0">
                        <v-btn icon class="mx-0" @click="editItem(props.item)">
                            <v-icon color="accent">edit</v-icon>
                        </v-btn>
                        <v-btn icon class="mx-0" @click="deleteItem(props.item)">
                            <v-icon color="pink">delete</v-icon>
                        </v-btn>
                    </td>-->
                </template>
            </v-data-table>
                 <button type="button" class="btn siif btn-w" data-toggle="modal" data-target="#guardado" @click="save">Guardar</button>
             <div class="modal fade" id="guardado">
                  <div class="modal-dialog">
                      <div class="modal-content">
                           <div class="modal-header">
                                Cambios guardados
                           </div>
                           <div class="modal-body">
                                Se ha guardado los cambios
                           </div>
                      </div>
                   </div>
             </div>
        </div>

    </div>

</template>
<script>
    export default {
        props: ['Empresa', 'tipo','fabrica'],
        data: () => ({
            dialog: false,
            nombre:{idPersona:''},
            auditoria: [],
            header: [

                {
                    text: 'Persona',
                    align: 'left',
                    value: 'idPersona'
                },
                {
                    text: 'Modulo',
                    align: 'left',
                    value: 'cod_modulo'
                },
                {text: 'Opcion', value: 'cod_opcion'},
                {text: 'Descipcion', value: 'descripcion_detalle'},
                {text: 'Fecha', value: 'fecha_detalle'},
                //{text: 'Actions', value: 'name', sortable: false}
            ],
            action: 'add',
            search: '',
            edit: true,
            editedIndex: -1,
            menuD: '',
            selected:false,
            count:0,
            size:0,
            guardado:false,
            editedItem: {
                idmoneda: '',
                codmoneda: '',
                nombreMoneda: '',
                moneda_simbolo: ''
            },
            defaultItem: {
                idmoneda: '',
                codmoneda: '',
                nombreMoneda: '',
                moneda_simbolo: ''
            }
        }),

        computed: {
            formTitle() {
                return this.editedIndex === -1 ? 'Agregar' : 'Editar'
            }
        },

        watch: {
            dialog(val) {
                val || this.close()
            }
        },

        beforeMount: function () {
            this.nombre.idPersona=this.fabrica;
        },

        methods: {
            check(item){
                if(item.idestatus=='1'){
                    item.idestatus='0';
                    return false;
                }
                 item.idestatus='1';
                 return true;
            },
            selectAll(){
                    if(this.count){
                       this.auditoria.forEach(function(e){
                        e.idestatus='0'

                    })
                      this.count=0
                      return false;
                    }
                    this.auditoria.forEach(function(e){
                        e.idestatus='1'

                    })
                     this.count=this.auditoria.length;
                  return true;

            },
            editItem(item) {

                this.editedIndex = this.moneda.indexOf(item),
                    this.editedItem = Object.assign({}, item),
                    this.dialog = true,
                    this.edit = false,
                    this.action = 'upd'
            },

            deleteItem(item) {
                const index = this.moneda.indexOf(item)
                //     console.log(index)
                confirm('Estas seguro que quieres eliminar este objeto') && this.deleteData(index)
            },
            deleteData(id) {
                let process = this.tipo.toLowerCase()
                axios.post('/services/' + process + '/del', {"id": this.moneda[id].id})
                    .then((res) => {
                        if (res.status == 200)
                            this.moneda.splice(id, 1);
                    });

            },
            close() {
                this.dialog = false
                this.action = 'add'
                this.edit = true
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300)
            },
            Fabricante(id) {
                this.loading = true;
                let process = this.tipo.toLowerCase();
                axios.post('/services/Admin/' + process, {'fabricante': id})
                    .then((res) => {
                        this.auditoria = res.data;
                        this.size=this.auditoria.length;
                          this.count=this.auditoria.filter(function(e){
                              return e.idestatus=='1';
                           }).length;

                        this.loading = false;
                    }, (error) => {
                        this.loading = false;
                    })
            },
            save(){
                 this.loading = true;
                let process = this.tipo.toLowerCase();
                console.log(this.auditoria);
               axios.post('/services/'+process,{"modulos":this.auditoria})
                 .then((res)=>{
                      this.loading = false;
                 }, (error) => {
                        this.loading = false;
             })
        }
    }}
</script>