<template>
    <div>
        <v-dialog v-model="dialog1" max-width="800px" style="max-height:100% !important">
            <v-btn color="primary" dark slot="activator" class="btn2 btn-w siif">Agendar</v-btn>
            <v-card v-if="this.tipo=='RFV'">
                <v-card-title>
                    <span class="headline">Agendar Cita</span>
                </v-card-title>
                <hr />
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>
                            <v-flex xs12 sm6 md3>
                                <v-select
                                        :items="clientes"
                                        label="Cliente"
                                        item-text="nombre_completo_razon_social"
                                        item-value="idPersona"
                                        return-object
                                        autocomplete
                                        v-model="editedItem.cliente"
                                        dense
                                ></v-select>
                            </v-flex>
                            <v-flex xs12 sm6 md3>
                                <v-menu
                                        ref="menuD"
                                        lazy
                                        :close-on-content-click="false"
                                        v-model="menuD"
                                        transition="scale-transition"
                                        offset-y
                                        full-width
                                        :nudge-right="40"
                                        min-width="290px"
                                        :return-value.sync="editedItem.hora"
                                >
                                    <v-text-field
                                            slot="activator"
                                            label="Hora"
                                            v-model="editedItem.hora"
                                            readonly
                                    ></v-text-field>
                                    <v-time-picker v-model="editedItem.hora" scrollable locale="es-ES" @change="$refs.menuD.save(editedItem.hora)">
                                    </v-time-picker>
                                </v-menu>
                            </v-flex>
                            <v-flex xs12 sm6 md3>
                                <v-menu
                                        ref="menuH"
                                        lazy
                                        :close-on-content-click="false"
                                        v-model="menuH"
                                        transition="scale-transition"
                                        offset-y
                                        full-width
                                        :nudge-right="40"
                                        min-width="290px"
                                        :return-value.sync="editedItem.fecha"
                                >
                                    <v-text-field
                                            slot="activator"
                                            label="Fecha"
                                            v-model="editedItem.fecha"
                                            readonly
                                    ></v-text-field>
                                    <v-date-picker v-model="editedItem.fecha" no-title scrollable locale="es-ES" @change="$refs.menuH.save(editedItem.fecha)">
                                    </v-date-picker>
                                </v-menu>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn class="btn2 btn-w accent" flat @click.native="close">Cancelar</v-btn>
                    <v-btn class="btn2 btn-w siif" flat @click.native="save">Agendar</v-btn>
                </v-card-actions>
            </v-card>
            <v-card v-if="this.tipo=='SUP'">
                <v-card-title>
                    <span class="headline">Agendar Cita</span>
                </v-card-title>
                <hr />
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>
                            <v-flex xs12 sm6 md3>
                                <v-select
                                        :items="RFV"
                                        label="RFV"
                                        item-text="nombre_completo_razon_social"
                                        item-value="idPersona"
                                        return-object
                                        autocomplete
                                        v-model="editedItem.rfv"
                                        @input="rfvclientes(editedItem.rfv.idPersona)"
                                        dense
                                ></v-select>
                            </v-flex>
                            <v-flex xs12 sm6 md3>
                                <v-select
                                        :items="clientes"
                                        label="Cliente"
                                        item-text="nombre_completo_razon_social"
                                        item-value="idPersona"
                                        return-object
                                        autocomplete
                                        v-model="editedItem.cliente"
                                        dense
                                ></v-select>
                            </v-flex>
                            <v-flex xs12 sm6 md3>
                                <v-menu
                                        ref="menuD"
                                        lazy
                                        :close-on-content-click="false"
                                        v-model="menuD"
                                        transition="scale-transition"
                                        offset-y
                                        full-width
                                        :nudge-right="40"
                                        min-width="290px"
                                        :return-value.sync="editedItem.hora"
                                >
                                    <v-text-field
                                            slot="activator"
                                            label="Hora"
                                            v-model="editedItem.hora"
                                            readonly
                                    ></v-text-field>
                                    <v-time-picker v-model="editedItem.hora" scrollable locale="es-ES" @change="$refs.menuD.save(editedItem.hora)">
                                    </v-time-picker>
                                </v-menu>
                            </v-flex>
                            <v-flex xs12 sm6 md3>
                                <v-menu
                                        ref="menuH"
                                        lazy
                                        :close-on-content-click="false"
                                        v-model="menuH"
                                        transition="scale-transition"
                                        offset-y
                                        full-width
                                        :nudge-right="40"
                                        min-width="290px"
                                        :return-value.sync="editedItem.fecha"
                                >
                                    <v-text-field
                                            slot="activator"
                                            label="Fecha"
                                            v-model="editedItem.fecha"
                                            readonly
                                    ></v-text-field>
                                    <v-date-picker v-model="editedItem.fecha" no-title scrollable locale="es-ES" @change="$refs.menuH.save(editedItem.fecha)">
                                    </v-date-picker>
                                </v-menu>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn class="btn2 btn-w accent" flat @click.native="close">Cancelar</v-btn>
                    <v-btn class="btn2 btn-w siif" flat @click.native="save">Agendar</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <div class="row">
            <div class="col-sm-4  border-dark mt-4" style="overflow-y: auto;">
                <v-list two-line >
                    <v-subheader  class="rounded-top primary"><p class="white-text h3-responsive">CITAS POR AGENDAR</p></v-subheader>
                    <div v-if="!Pagendar.length">
                        <p class="text-center h6-responsive black-text mt-2">Sin clientes agendados.</p>
                    </div>
                    <template v-for="(item, index) in Pagendar">
                        <v-list-tile  :key="index"  @click="">
                            <v-list-tile-content>
                                <v-list-tile-title class="accent--text">{{ item.title }}</v-list-tile-title>
                                <v-list-tile-sub-title class="mt-2 font-bold">{{ item.start }}</v-list-tile-sub-title>
                            </v-list-tile-content>
                            <v-list-tile-action >
                                <v-btn icon ripple @click="agendar(item)" v-if="this.tipo!='RFV'">
                                    <v-icon color="accent">check</v-icon>
                                </v-btn>
                            </v-list-tile-action>
                            <v-list-tile-action>
                                <v-btn icon ripple @click="borrar(item)" v-if="this.tipo!='RFV'">
                                    <v-icon color="error">clear</v-icon>
                                </v-btn>
                            </v-list-tile-action>
                        </v-list-tile>
                        <v-divider v-if="index + 1 < fcEvents.length" :key="`divider-${index}`"></v-divider>
                    </template>
                </v-list>
            </div>
            <div class="col-sm-8">
                <button class="btn btn-w siif waves-effect waves-light float-right" @click="Refresh()">Refrescar&nbsp;<i class="fas fa-sync-alt"></i></button>
                <full-calendar class="test-fc" :events="fcEvents"
                               first-day='1' locale="es"
                               @eventClick="eventClick"
                               @dayClick="dayClick">
                </full-calendar>
                <v-dialog v-model="dialog" transition="dialog-bottom-transition" :overlay="false">
                    <v-card>
                        <v-toolbar dark color="primary">
                            <v-btn icon @click.native="dialog = false" dark>
                                <v-icon>close</v-icon>
                            </v-btn>
                            <v-toolbar-title>Agenda</v-toolbar-title>
                            <v-spacer></v-spacer>
                            <v-toolbar-items>
                                <v-btn dark flat @click.native="dialog = false">Guardar</v-btn>
                            </v-toolbar-items>
                        </v-toolbar>
                        <v-list three-line subheader>
                            <v-list-tile avatar>
                                <v-list-tile-content>
                                    <v-list-tile-title>{{title}}</v-list-tile-title>
                                    <v-list-tile-sub-title>{{inicia}}</v-list-tile-sub-title>
                                    <v-list-tile-sub-title>{{informacion}}</v-list-tile-sub-title>
                                </v-list-tile-content>
                            </v-list-tile>
                        </v-list>
                    </v-card>
                </v-dialog>
            </div>
        </div>
    </div>

</template>
<script>
    let demoEvents = [];
    export default {
        props: ['rfv','fabrica','tipo'],
        data: function () {
            return {
                name:'Sunny!',
                fcEvents : demoEvents,
                Pagendar: demoEvents,
                clientes:[],
                RFV:[],
                dialog: false,
                dialog1: false,
                dialog2: false,
                title: "",
                inicia: "",
                informacion:"",
                notifications: false,
                sound: true,
                widgets: false,
                menuD:'',
                menuH:'',
                editedItem: {
                    id:'',
                    rfv:'',
                    cliente:'',
                    hora:null,
                    fecha:null,
                },
                defaultItem: {
                    id:'',
                    rfv:'',
                    cliente:'',
                    hora:null,
                    fecha:null,
                }

            }
        },
        methods : {
            'eventClick' (event, jsEvent, pos) {
                this.dialog = true;
                this.title = event.title;
                this.inicia = event.start;
            },
            'dayClick' (day, jsEvent) {
                console.log(day)
            },
            Refresh (){
                axios.get('/services/agenda')
                .then((res)=>{
                        var x;
                        x=res.data.Agendado;
                        this.fcEvents= x.concat(res.data.Sup);
                        this.Pagendar=res.data.Poragendar;
                    },
                    (error)=>{

                    })
            },
            close () {
                this.dialog1 = false;
                this.dialog2 = false;
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300)
            },
            save () {
                var RfV;
                if(this.tipo=='RFV')
                    RfV=this.rfv;
                else
                    RfV=this.editedItem.rfv.idPersona;

                axios.post('/services/agenda/TMP',{
                    'rfv':RfV,
                    'cliente':this.editedItem.cliente.idPersona,
                    'fecha':this.editedItem.fecha,
                    'hora':this.editedItem.hora,
                    'sup':this.rfv
                })
                    .then((res)=>{
                        this.Pagendar=res.data.Poragendar;
                        this.close();
                    },(error)=>{

                    })
            },
            agendar (data){
                axios.post('/services/agenda/crear',{'rfv':data.rfv,'cliente':data.cliente,'fecha':data.fecha, 'hora':data.hora,'id':data.id})
                    .then((res)=>{
                        this.fcEvents=res.data.Agendado;
                        this.Pagendar=res.data.Poragendar;
                    },(error)=>{

                    })
            },
            borrar (data){
                axios.post('/services/agenda/TMPdelete',{
                    'id':data.id
                })
                    .then((res)=>{
                        this.Pagendar=res.data.Poragendar;
                        this.close();
                    },(error)=>{

                    })
            },
            rfvclientes (data){
                axios.get('/services/agenda/clientes',{'id':data})
                    .then((res)=>{
                        this.clientes=res.data.Clientes;
                    },(error)=>{

                    })
            }
        },
        mounted: function () {
            axios.get('/services/agenda')
                .then((res)=>{
                        var x;
                        x=res.data.Agendado;
                        this.fcEvents= x.concat(res.data.Sup);
                        this.Pagendar=res.data.Poragendar;
                    },
                    (error)=>{

                    })

            if(this.tipo == 'RFV'){
                axios.get('/services/agenda/clientes')
                    .then((res)=>{
                        this.clientes=res.data.Clientes;
                    },(error)=>{

                    })
            }

            if(this.tipo == 'SUP'){
                axios.get('/services/agenda/RFV')
                    .then((res)=>{
                        this.RFV=res.data.RFV;
                    },(error)=>{

                    })
            }
        }
    }
</script>
<style lang='scss'>
    .btn2{
        padding: 0 !important;
    }
</style>