<template>
    <div>
        <div v-if="load">
            <v-progress-linear :indeterminate="load" ></v-progress-linear>
            <p class="text-center">Procesando</p>
        </div>
        <v-list v-if="!load">
            <v-list-group
                    v-model="item.active"
                    v-for="item in items"
                    :key="item.nombre_completo_razon_social"
                    no-action
            >
                <v-list-tile slot="activator" >
                    <v-list-tile-action>
                        <i class="fas fa-briefcase" style="color:#1976d2 !important"></i>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>{{ item.nombre_completo_razon_social }}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile v-if="item.citas.length==0">
                    <v-list-tile-content>
                        <v-list-tile-title>No posee citas agendadas</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile v-for="subItem in item.citas" :key="subItem.idAgenda" >
                    <v-list-tile-content>
                        <v-list-tile-title>Visita para el: {{ subItem.fecha_agenda }} a las  {{ subItem.hora }}</v-list-tile-title>
                    </v-list-tile-content>
                    <v-list-tile-action>
                        <form action="/RTR/reporte_agenda_nuevo" method="post" >
                            <input type="hidden" name="_token" v-model="token">
                            <input type="hidden" name="idagenda" v-model="subItem.idAgenda">
                            <input type="hidden" name="nombre" v-model="item.nombre_completo_razon_social">
                            <input type="hidden" name="idcliente" v-model="item.idPersona">
                            <button type="submit" class="victoria btn btn-md btn-w">Reportar</button>
                        </form>
                    </v-list-tile-action>
                </v-list-tile>
            </v-list-group>
        </v-list>
        <div class="text-xs-center">
            <v-pagination :length="last_page" v-model="page" :total-visible="7" :disabled="load" @input="navigate($event)"></v-pagination>
        </div>
    </div>
    
</template>
<script>
    export default {
        props : ['token'],
        data : function () {
            return {
                items : [],
                page : 1,
                last_page : 1,
                path : "",
                load: true
            }
        },
        beforeMount: function () {
            axios.get('/services/RFV_clientes')
                .then((res)=>{
                    this.items=res.data.data;
                    this.page=res.data.current_page;
                    this.last_page = res.data.last_page;
                    this.path = res.data.path;
                    this.load= false;
                },(error)=>{
                    this.load= false;
                })
        },
        methods : {
            navigate(event){
                this.load = true; 
                axios.get('/services/RFV_clientes?page='+this.page)
                .then((res)=>{
                    this.items=res.data.data;
                    this.page=res.data.current_page;
                    this.last_page = res.data.last_page;
                    this.path = res.data.path;
                    this.load= false;
                },(error)=>{
                    this.load= false;
                })       
            }
        }
    }
</script>
<style >
    .list__group__header{
        border-color: #007bff !important;
        border-left: 1px solid #007bff !important;
        border-top: 1px solid #007bff !important;
        border-right: 1px solid #007bff !important;
        background-color: #E3F2FD!important;
    }
    .list__group__items{
        border-left: 1px solid #007bff !important;
        border-right: 1px solid #007bff !important;
    }
</style>

