<template>
    <div>
        <div class="row">
            <div class="col-md-4 md-form">
                <v-select
                        :items="Empresa"
                        label="Seleccione Fabricante"
                        required
                        item-text="nombre_completo_razon_social"
                        item-value="idPersona"
                        return-object
                        v-model="nombre"
                        single-line
                        id="empresa"
                ></v-select>
            </div>
            <div class="col-2">
                <button class="btn siif btn-w float-right " @click="VisitasADM(nombre.idPersona,null)" >Seleccionar</button>
            </div>
            <div class="col-md-4 md-form">
                <v-progress-circular :indeterminate="loading" color="primary" v-if="loading"></v-progress-circular>
            </div>
        </div>
        <div v-if="nombre">
            <!--<v-dialog v-model="dialog" max-width="500px">
                <v-btn color="primary" dark slot="activator" class="btn2 btn-w siif">Agregar</v-btn>
                <v-card>
                    <v-card-title>
                        <span class="headline">{{ formTitle }}</span>
                    </v-card-title>
                    <v-card-text>
                        <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12 sm6 md6>
                                    <v-select
                                            :items="RFV"
                                            label="Representante"
                                            item-text="nombre_completo_razon_social"
                                            item-value="idPersona"
                                            v-model="editedItem.RFV"
                                            return-object
                                            autocomplete
                                            dense
                                    ></v-select>
                                </v-flex>
                                <v-flex xs12 sm6 md6>
                                    <v-select
                                            :items="Cliente"
                                            label="Representante"
                                            item-text="nombre_completo_razon_social"
                                            item-value="idPersona"
                                            v-model="editedItem.Cliente"
                                            return-object
                                            autocomplete
                                            dense
                                    ></v-select>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn class="btn2 btn-w accent" flat @click.native="close">Cancelar</v-btn>
                        <v-btn class="btn2 btn-w siif" flat @click.native="save">Guardar</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>-->
            <v-data-table
                    :headers="headers"
                    :items="visitas"
                    class="elevation-1"
                    :rows-per-page-items = '[25,50,100,{"text":"All","value":-1}]'
                    rows-per-page-text="Registros por pagina"
            >
                <template slot="items" slot-scope="props">
                    <td>{{ props.item.RFV }}</td>
                    <td >{{ props.item.Cliente }}</td>
                    <!--<td class=" layout px-0">
                        <v-btn icon class="mx-0" @click="deleteItem(props.item)">
                            <v-icon color="pink">delete</v-icon>
                        </v-btn>
                    </td>-->
                </template>
            </v-data-table>
        </div>
    </div>

</template>
<script>
    export default {
        props:['Empresa','fabrica'],
        data: () => ({
            loading: false,
            dialog: false,
            nombre: {idPersona: ''},
            visitas: [],
            RFVs:[],
            Clientes:[],
            headers: [
                {
                    text: 'Representante',
                    align: 'left',
                    value: 'id'
                },
                {text: 'Cliente', value: 'descripcion'}
            ],
            editedItem: {
                RFV: '',
                Cliente:''
            },
            defaultItem: {
                RFV: '',
                Cliente:''
            },
        }),

        watch: {
            dialog (val) {
                val || this.close()
            }
        },

        beforeMount: function () {
            this.nombre.idPersona=this.fabrica;
        },

        methods: {
            close () {
                this.dialog = false
                this.action='add'
                this.edit=true
                this.loading=false
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300)
            },

            VisitasADM (id,rfv){
                if(rfv!=null)
                    rfv=this.rfv;

                this.loading = true;
                axios.post('/services/visitar',{'fabricante':id,'rfv':rfv})
                    .then((res)=>{
                        this.visitas = res.data.visitas;
                        this.Clientes = res.data.Clientes;
                        this.RFVs = res.data.RFV;
                        this.loading = false;
                    },(error)=>{
                        this.loading = false;
                    })
            },
        }
    }
</script>