<template>
	<div >
		<div class="row border border-dark">
			<div class="col-sm-6  border-right border-bottom border-dark" style="height: 400px;overflow-y: auto;">
				 <v-list two-line >
			          <v-subheader  class="rounded-top primary"><p class="white-text h3-responsive ">Clientes</p></v-subheader>
			          <div v-if="!clientes.length">
			          	<p class="text-center h6-responsive black-text mt-2">Sin clientes agendados.</p>
			          </div>
			          <template v-for="(item, index) in clientes" >
			          	<v-list-tile  :key="index"  @click="">
			            <v-list-tile-content>
			              <v-list-tile-title class="accent--text">{{ item.nombre_completo_razon_social }}</v-list-tile-title>
			              <v-list-tile-sub-title class="mt-2 font-bold">{{ item.total }} {{ item.total>1?"citas agendadas":"cita agendada"}} </v-list-tile-sub-title>
			            </v-list-tile-content>
			            <v-list-tile-action>
			              <v-btn icon ripple @click="detalles(item)">
			                <v-icon color="accent">info</v-icon>
			              </v-btn>
			            </v-list-tile-action>
			          </v-list-tile>
			          <v-divider v-if="index + 1 < clientes.length" :key="`divider-${index}`"></v-divider>
			          </template>
		        </v-list>
			</div>
			<div class="col-sm-6 border-bottom" style="height: 400px;overflow-y: auto;">
				<div v-if="!citas.length">
					<p class="text-center mt-3 grey-text h6-responsive">Seleccione un cliente para ver detalles.</p>
				</div>
				<div v-if="loading" class="justify-content-center row mt-5">
					<v-progress-circular :indeterminate="loading" :size="70" :width="2" color="accent"></v-progress-circular>
				</div>
				<div v-if="citas.length && !loading">
					<p class="h4-responsive accent--text font-bold mt-3 text-center mb-1">Citas de {{cliente}}</p>
					<p class="accent py-2 rounded"></p>
					<div v-for="item in citas" class="row mt-2">
						<div class="col-6">
						    <p><span class="font-bold">Fecha:</span>{{item.fecha}}</p>
						</div>
						<div class="col-6">
						    <p><span class="font-bold">Hora:</span>{{item.hora}}</p>
						</div>
						<div class="col-6">
						    <p><span class="font-bold">RFV:</span>{{item.RFV.nombre_completo_razon_social}}</p>
						</div>
						<div class="col-6">
							<div v-if="item.Brick">
								<p><span class="font-bold">RFV:</span>{{item.Brick}}</p>
							</div>
						</div>
						<div class="col-12">
							<form action="/RTR/reporte-agenda-nuevo" method="post" >
                            <input type="hidden" name="_token" v-model="token">
                            <input type="hidden" name="idagenda" v-model="item.id">
                            <input type="hidden" name="nombre" v-model="cliente">
                            <input type="hidden" name="idcliente" v-model="item.Cliente">
                            <input type="hidden" name="RFV" v-model="item.RFV.idPersona">
                            <div >
                            	<div class="d-flex float-right">
	                            	<v-btn outline small class="py-0" type="submit" color="siif">
	                            		Procesar
					                	<v-icon color="siif">content_paste</v-icon>
					              	</v-btn>
                            	</div>
                            </div>
                            
                        </form>
						</div>
						<div class="col-12">
							<v-divider ></v-divider>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</template>
<script >
	export default {
		props : ['token','clientes'],
		data : function () {
            return {
            	citas:[],
            	loading: false,
            	cliente:""
            }
        },
        methods : {
        	detalles (id){
        		this.loading=true;
	            axios.post('/services/agenda/cliente/detalle',{'idCliente':id.idPersona})
	                .then((res)=>{
	                	this.cliente=id.nombre_completo_razon_social;
	                	this.citas=res.data.data;
	                	this.loading=false;
	                },(error)=>{
	                	this.loading=false;
	                })
	        }
	    }
	}
</script>