<template>
    <div>
        <div class="col-6">
            <v-select
                    :items="Empresa"
                    label="Seleccione Fabricante"
                    required
                    item-text="nombre_completo_razon_social"
                    item-value="idPersona"
                    return-object
                    v-model="nombre"
                    single-line
                    @input="Fabricante(nombre.idPersona)"
            ></v-select>
        </div>
        <div v-if="nombre">
            <v-dialog v-model="dialog" max-width="500px">
                <v-btn color="primary" dark slot="activator" class="btn2 btn-w siif">Agregar</v-btn>
                <v-card>
                    <v-card-title>
                        <span class="headline">{{ formTitle }}</span>
                    </v-card-title>
                    <v-card-text>
                        <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12 sm6 md4>
                                    <v-text-field label="Codigo" v-model="editedItem.id"  :disabled="edit"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md4>
                                    <v-select
                                        :items="producto"
                                        label="Producto"
                                        item-text="nombre_producto"
                                        item-value="idproducto"
                                        return-object
                                        v-model="editedItem.idproducto"
                                    ></v-select>
                                </v-flex>
                                <v-flex xs12 sm6 md4>
                                    <v-select
                                        :items="mayoristas"
                                        label="Selecciona mayorista"
                                        item-text="nombre_completo_razon_social"
                                        item-value="idPersona"
                                        return-object
                                        v-model="editedItem.mayorista"
                                    ></v-select>
                                </v-flex>
                                <v-flex xs12 sm6 md4>
                                    <v-text-field label="Cantidad Desde" v-model="editedItem.cantD" type="number" min=1></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md4>
                                    <v-text-field label="Cantidad Hasta" v-model="editedItem.cantH" type="number" min=1></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md4>
                                    <v-text-field label="Monto Desde" v-model="editedItem.montoD" type="number" min=0></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md4>
                                    <v-text-field label="Monto Hasta" v-model="editedItem.montoH" type="number" min=0></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md4>
                                    <v-text-field label="Porcentaje" v-model="editedItem.porcentaje" type="number" min=0 max=99></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md4>
                                    <v-text-field label="Cantidad" v-model="editedItem.cant" type="number" min=1></v-text-field>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn class="btn2 btn-w accent" flat @click.native="close">Cancelar</v-btn>
                        <v-btn class="btn2 btn-w siif" flat @click.native="save">Guardar</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            <v-data-table
                    :headers="headers"
                    :items="esquema"
                    hide-actions
                    class="elevation-1"
                    rows-per-page-text="Registros por pagina"
            >
                <template slot="items" slot-scope="props">
                    <td >{{ props.item.id }}</td>
                    <td >{{ props.item.nombreproducto}}</td>
                    <td >{{ props.item.cantD }}</td>
                    <td >{{ props.item.cantH}}</td>
                    <td >{{ props.item.montoD}}</td>
                    <td >{{ props.item.montoH}}</td>
                    <td >{{ props.item.porcentaje}}</td>
                    <td >{{ props.item.cant}}</td>
                    <td class=" layout px-0">
                        <v-btn icon class="mx-0" @click="editItem(props.item)">
                            <v-icon color="accent">edit</v-icon>
                        </v-btn>
                        <v-btn icon class="mx-0" @click="deleteItem(props.item)">
                            <v-icon color="pink">delete</v-icon>
                        </v-btn>
                    </td>
                </template>
            </v-data-table>
        </div>

    </div>
</template>

<script>
    export default {
        props:['Empresa','productos','mayoristas'],
        data: () => ({
            dialog: false,
            nombre:'',
            esquema:[],
            producto:[],
            headers: [
                {
                    text: 'Codigo',
                    align: 'left',
                    sortable: false,
                    value: 'id'
                },
                { text: 'Producto', value: 'idproducto' },
                { text: 'Cantidad Desde', value: 'cantD' },
                { text: 'Cantidad Hasta', value: 'cantH' },
                { text: 'Monto Desde', value: 'montoD' },
                { text: 'Monto Hasta', value: 'montoH' },
                { text: 'Porcentaje', value: 'porcentaje' },
                { text: 'Cantidad', value: 'cantidad' },
                { text: 'Actions', value: 'name', sortable: false }
            ],
            action:'add',
            search: '',
            edit:false,
            editedIndex: -1,
            editedItem: {
                id: '',
                idproducto: '',
                nombreproducto:'',
                cantD:'',
                cantH:'',
                montoD:'',
                montoH:'',
                porcentaje:'',
                cant:'',
                mayorista:''
            },
            defaultItem: {
                id: '',
                idproducto: '',
                nombreproducto:'',
                cantD:'',
                CantH:'',
                MontoD:'',
                MontoH:'',
                Porcentaje:'',
                Cant:'',
                mayorista:''
            }
        }),

        computed: {
            formTitle () {
                return this.editedIndex === -1 ? 'Agregar' : 'Editar'
            }
        },

        watch: {
            dialog (val) {
                val || this.close()
            }
        },

        methods: {

            editItem (item) {
              
                this.editedIndex = this.esquema.indexOf(item),
                this.editedItem = Object.assign({}, item)
                  for(let i=0; i<this.mayoristas.length; i++)
                      if(this.editedItem.mayorista==this.mayoristas[i].nombre_completo_razon_social)
                        { this.editedItem.mayorista=this.mayoristas[i]; break; 
                        //console.log('lol estamos brutal')
                        }
                     console.log(this.editedItem)
                  for(let j=0; j<this.producto.length; j++){
                         
                        if(this.editedItem.nombreproducto==this.producto[j].nombre_producto)
                          { this.editedItem.idproducto=this.producto[j]; break; } 
                  }
                this.dialog = true,
                this.edit=true,
                this.action='upd'
              
              
            },

            deleteItem (item) {
                const index = this.esquema.indexOf(item)
                console.log(index)
                confirm('Estas seguro que quieres eliminar este objeto') && this.deleteData(index)
            },
            deleteData(id){
                let process=this.tipo.toLowerCase()
                axios.post('/services/esquema/del',{"id":this.esquema[id].id})
                    .then((res)=>{
                     if(res.status==200)
                        this.esquema.splice(id, 1);
                    });
                    
            },
            close () {
                this.dialog = false
                this.action='add'
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300)
                this.edit=false;
            },
            addItem(item){
                  
                if (this.editedIndex > -1) {
                    Object.assign(this.esquema[this.editedIndex], item)

                } else {
                    this.esquema.push(item)
                }
                
            },
            save () {
                   this.loading = true;
                //  var self=this
                  console.log(this.editedItem);
                axios.post('/services/esquema/'+this.action,{
                    "id":this.editedItem.id,
                    "idproducto":this.editedItem.idproducto.idproducto,
                    "nombre":this.editedItem.idproducto.nombre_producto,
                    "cantD":this.editedItem.cantD,
                    "cantH":this.editedItem.cantH,
                    "montoD":this.editedItem.montoD,
                    "montoH":this.editedItem.montoH,
                    "porcentaje":this.editedItem.porcentaje,
                    "mayorista":this.editedItem.mayorista.idPersona,
                    "cant":this.editedItem.cant,
                    "fabricante":this.nombre.idPersona})
                    .then((res)=>{
                          //  console.log(res.data);
                          //  this.esquema = res.data.esquemas;
                            
                            if(this.action=='upd'){
                                this.edit=false;
                                this.action='add'
                            }
                           
                          this.addItem(this.editedItem);
                           this.close();
                          this.loading=false;
                        
                    }).catch((e)=>{ 
                          return;
                          console.log('error')
                          this.loading = false;
                    });
                           
                          
            },
            Fabricante (id)
            {
                this.loading = true;
                axios.post('/services/Admin/esquema',{'fabricante':id})
                    .then((res)=>{
                        console.log(res.data);
                        this.esquema = res.data.esquemas;
                        this.producto = res.data.productos;
                        this.loading = false;

                    },(error)=>{
                        this.loading = false;
                    })
            }
        }
    }
</script>

<style >
    .btn2{
        padding: 0 !important;
    }

</style>