<template>
    <div>
        <div class="row justify-content-center">
            <div class="col-sm-6 col-md-3">
                <v-menu
                    ref="menuD"
                    lazy
                    :close-on-content-click="false"
                    v-model="menuD"
                    transition="scale-transition"
                    offset-y
                    full-width
                    :nudge-right="40"
                    min-width="290px"
                    :return-value.sync="dateD"
                >
                    <v-text-field
                            slot="activator"
                            label="Fecha desde"
                            v-model="dateD"
                            prepend-icon="event"
                            readonly
                            name="dateD"
                    ></v-text-field>
                    <v-date-picker v-model="dateD" no-title scrollable locale="es-ES" @change="$refs.menuD.save(dateD)" :max="new Date().toISOString().substr(0, 10)">
                    </v-date-picker>
                </v-menu>
            </div>
            <div class="col-sm-6 col-md-3">
                <v-menu
                    ref="menuH"
                    lazy
                    :close-on-content-click="false"
                    v-model="menuH"
                    transition="scale-transition"
                    offset-y
                    full-width
                    :nudge-right="40"
                    min-width="290px"
                    :return-value.sync="dateH"
                >
                    <v-text-field
                            slot="activator"
                            label="Fecha hasta"
                            v-model="dateH"
                            prepend-icon="event"
                            readonly
                            name="dateH"
                    ></v-text-field>
                    <v-date-picker v-model="dateH" no-title scrollable locale="es-ES" @change="$refs.menuH.save(dateH)" :max="new Date().toISOString().substr(0, 10)">
                    </v-date-picker>
                </v-menu>
            </div>
            <div class="col-sm-6 col-md-3 md-form">
                <v-select
                        :items="zonas"
                        label="Zona"
                        item-text="descripcion_zona"
                        item-value="idzona"
                        return-object
                        autocomplete
                        multiple
                        chips
                        v-model=zona
                        dense
                ></v-select>
            </div>
            <div class="col-sm-6 col-md-3 md-form">
                <v-select
                        :items="rutas"
                        label="Brick-Ruta"
                        item-text="Descripcion"
                        item-value="idbrick"
                        return-object
                        autocomplete
                        multiple
                        chips
                        v-model=ruta
                        dense
                        :disabled="!zona"
                ></v-select>
            </div>
            <div class="col-sm-6 col-md-3 md-form">
                <v-select
                        :items="sups"
                        label="Supervisor"
                        item-text="nombre_completo_razon_social"
                        item-value="idPersona"
                        return-object
                        autocomplete
                        multiple
                        chips
                        v-model=sup
                        dense
                ></v-select>
            </div>
            <div class="col-sm-6 col-md-3 md-form">
                <v-select
                        :items="rfvs"
                        label="RFV"
                        item-text="nombre_completo_razon_social"
                        item-value="idPersona"
                        return-object
                        autocomplete
                        multiple
                        chips
                        v-model=rfv
                        dense
                ></v-select>
            </div>
            <div class="col-2">
                <button class="btn siif btn-w float-right " @click="consultaGerencial()" >Consultar</button>
            </div>
        </div>
        <div class="col-12 mt-3">
            <v-data-table
                        :headers="headercobertura"
                        :items="cobertura"
                        class="table-bordered table-responsive"
                        id="table"
                        no-data-text="Sin Cobertura"
                        :rows-per-page-items='[15,25,50,{"text":"All","value":-1}]'
                        rows-per-page-text="Registros por pagina"
                >
                    <template slot="items" slot-scope="props">
                        <td>{{ props.item.idsupervisor}}</td>
                        <td >{{ props.item.idRFV}}</td>
                        <td >{{ props.item.idzona}}</td>
                        <td>{{ props.item.idruta}}</td>
                        <td>{{ props.item.idestado}}</td>
                        <td>{{ props.item.idciudad}}</td>
                        <td>{{ props.item.Mes}}</td>
                        <td >{{ props.item.cobertura}}</td>
                        <td >{{ props.item.cantEsp}}</td>
                        <td >{{ props.item.montoEsp}}</td>
                        <td >{{ props.item.cantFact}}</td>
                        <td >{{ props.item.montoFact}}</td>
                    </template>
                    <template slot="footer">
                        <td colspan="100%">
                            <div class="row">
                                <div class="col-sm-12 justify-content-start d-flex">
                                <v-subheader>Descargar como:</v-subheader>
                                <v-btn
                                    color="red"
                                    icon
                                    small
                                    :loading="loading"
                                    @click="pdf('g','Cobertura')"
                                    >
                                    <v-icon dark class="btn-w">fa-file-pdf</v-icon>
                                </v-btn>
                                <download-excel
                                    :data   = "cobertura"
                                    :fields = "xlscobertura"
                                    name    = "Cobertura.xls"
                                    type="xls"
                                    >
                                    <v-btn
                                        color="green"
                                        icon
                                        small
                                        >
                                        <v-icon class="btn-w">fa-file-excel</v-icon>
                                    </v-btn>
                                </download-excel>
                                </div>
                                <div class="col-sm-3 md-form">
                                    <v-subheader>Ordenes Esperadas: {{ cantE.toLocaleString() }} </v-subheader>
                                </div>
                                <div class="col-sm-3 md-form">
                                    <v-subheader>Total Esperado: {{ totalE.toLocaleString() }}</v-subheader>
                                </div>
                                <div class="col-sm-3 md-form">
                                    <v-subheader>Ordenes Facturadas: {{ cantF.toLocaleString() }} </v-subheader>
                                </div>
                                <div class="col-sm-3 md-form">
                                    <v-subheader>Total Facturado: {{ totalF.toLocaleString() }}</v-subheader>
                                </div>
                            </div>
                        </td>
                    </template>
                </v-data-table>
          </div>
    </div>
</template>
<script>
    export default{
        props:{
            zonas: {
                type: Array,
                default: function () {
                    return []
                }
            },
            rutas: {
                type: Array,
                default: function () {
                    return []
                }
            },
            sups: {
                type: Array,
                default: function () {
                    return []
                }
            },
            rfvs: {
                type: Array,
                default: function () {
                    return []
                }
            }
        },
        data: () =>({
            menuD:false,
            dateD:new Date().toISOString().substr(0, 10),
            dateH:new Date().toISOString().substr(0, 10),
            menuH:false,
            loading:false,
            zona:'',
            ruta:'',
            sup:'',
            rfv:'',
            cantE:0,
            cantF:0,
            totalE:0,
            totalF:0,
            cobertura:[],
            headercobertura:[
                { text:'Supervisor', value:'idsupervisor'},
                { text:'RFV', value:'idRFV'},
                { text:'Zona', value:'idzona'},
                { text:'Brick', value:'idruta'},
                { text:'Estado', value:'idestado'},
                { text:'Ciudad', value:'idciudad'},
                { text:'MesAño', value:'Mes'},
                { text:'% Cobertura', value:'cobertura'},
                { text:'Cantidad Esperada', value:'cantEsp'},
                { text:'Monto Esperado', value:'montoEsp'},
                { text:'Cantidad Facturada', value:'cantFact'},
                { text:'Monto Facturado', value:'montoFact'},
            ],
            xlscobertura:{
                'Supervisor':'idsupervisor',
                'RFV':'idRFV',
                'Zona':'idzona',
                'Brick':'idruta',
                'Estado':'idestado',
                'Ciudad':'idciudad',
                'MesAño':'Mes',
                '% Cobertura':'cobertura',
                'Cantidad Esperada':'cantEsp',
                'Monto Esperado':'montoEsp',
                'Cantidad Facturada':'cantFact',
                'Monto Facturado':'montoFact',
            }
        }),
        watch : {
            dateD (val) {
                if(this.dateH && val)
                {
                let a= new Date(val);
                let b=new Date(this.dateH);
                if(a.getTime() > b.getTime())
                    this.dateD = this.dateH;
                }
            },
            dateH (val) {
                if(this.dateD && val)
                {
                let a= new Date(val);
                let b=new Date(this.dateD);
                if(a.getTime() < b.getTime())
                    this.dateH = this.dateD;
                }
            }
        },
        methods: {
            consultaGerencial(){
                axios.post('/services/consultaGerencial',{'filtros':{
                    'fechaIni':this.dateD,
                    'fechaFin':this.dateH,
                    'ciclo': '',
                    'rfv': this.rfv,
                    'supervisores':this.sup,
                    'zonas':this.zona,
                    'rutas':this.ruta
                }})
                    .then((res)=>{
                        if(!res.data.mensaje){
                            for(let a in res.data){
                                let sup = this.sups.find(o => {if(o.idPersona==res.data[a].idsupervisor)return true;});
                                if(sup) res.data[a].idsupervisor = sup.nombre_completo_razon_social;
                                let rfv = this.rfvs.find(o => {if(o.idPersona==res.data[a].idRFV)return true;});
                                if(rfv) res.data[a].idRFV = rfv.nombre_completo_razon_social;
                                let zona = this.zonas.find(o => {if(o.idzona==res.data[a].idzona)return true;});
                                if(zona){
                                    res.data[a].idzona = zona.descripcion_zona;
                                    res.data[a].idestado = zona.idestado;
                                    res.data[a].idciudad = zona.idciudad;
                                }
                                let brick = this.rutas.find(o => {if(o.idbrick==res.data[a].idruta)return true;});
                                if(brick) res.data[a].idruta = brick.Descripcion;
                            }
                            this.cobertura=res.data;
                            this.cantE=0;
                            this.totalE=0;
                            this.cantF=0;
                            this.totalF=0;
                            for(let index of this.cobertura)
                            {
                                this.cantE+=index.cantEsp;
                                this.totalE+=index.montoEsp;
                                this.cantF+=index.cantFact;
                                this.totalF+=index.montoFact;
                            }
                            console.log(this.cobertura);
                        }else{
                            this.cobertura=[];
                        }
                    },(error)=>{

                    })
            },
            pdf(data,title){
                var cabecera;
                let busqueda;
                var total;
                var cantidad;
                total=0;
                cantidad=0;
                this.loading=true;
                axios({
                    method:'post',
                    url:'/services/generarpdf',
                    responseType:'blob',
                    data: {
                        'cabecera':this.headercobertura,
                        'busqueda':this.cobertura,
                        'tipo':data,
                        'titulo':title,
                        'filtros':[],
                        'fechaIni':this.dateD,
                        'fechaFin':this.dateH,
                        'total': this.totalF,
                        'unidades': this.totalE,
                        'OE': this.cantE,
                        'OF': this.cantF
                    }
                }).then((response)=> {
                    this.loading=false;
                    const url = window.URL.createObjectURL(new Blob([response.data]));
                    const link = document.createElement('a');
                    link.href = url;
                    link.setAttribute('download', 'Gerencial.pdf');
                    document.body.appendChild(link);
                    link.click();

                    }

                );
            }
        }
    }
</script>

<style >
    .btn2{
        padding: 0 !important;
    }

</style>