<template>
    <div>
        <v-dialog v-model="dialog" max-width="800px" style="max-height:100% !important">
            <v-btn color="primary" dark slot="activator" class="btn2 btn-w siif">Agregar</v-btn>
            <v-card>
                <v-card-title>
                    <span class="headline">{{ formTitle }}</span>
                </v-card-title>
                <hr />
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>
                            <v-flex xs12 sm6 md3>
                                <v-text-field label="ID Producto" v-model="editedItem.id"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md3>
                                <v-text-field label="Nombre Producto" v-model="editedItem.nombre"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md2>
                                <v-text-field label="Cantidad" type="number" min=0 v-model="editedItem.cantidad"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md3>
                                <v-select
                                    :items="linea"
                                    label="Linea"
                                    item-text="descripcion_linea_producto"
                                    item-value="id"
                                    return-object
                                    autocomplete
                                    v-model="editedItem.linea"
                                    dense
                                ></v-select>
                            </v-flex>
                              <v-flex xs12 sm6 md3>
                                <v-select
                                    :items="tipos"
                                    label="Tipo de producto"
                                    item-text="descripcion_tipo_producto"
                                    item-value="idtipo_producto"
                                    return-object
                                    autocomplete
                                    v-model="editedItem.tipo"
                                    dense
                                ></v-select>
                            </v-flex>
                            <v-flex xs12 sm6 md3>
                                <v-select
                                    :items="mayoristas"
                                    label="Mayorista"
                                    item-text="nombre_completo_razon_social"
                                    item-value="idPersona"
                                    return-object
                                    autocomplete
                                    v-model="editedItem.mayorista"
                                    dense
                                ></v-select>
                            </v-flex>
                            <v-flex xs12 sm6 md3>
                                <v-menu
                                        ref="menuD"
                                        lazy
                                        :close-on-content-click="false"
                                        v-model="menuD"
                                        transition="scale-transition"
                                        offset-y
                                        full-width
                                        :nudge-right="40"
                                        min-width="290px"
                                        :return-value.sync="editedItem.expedicion"
                                >
                                    <v-text-field
                                            slot="activator"
                                            label="Fecha Expedicion"
                                            v-model="editedItem.expedicion"
                                            readonly
                                    ></v-text-field>
                                    <v-date-picker v-model="editedItem.expedicion" no-title scrollable locale="es-ES" @change="$refs.menuD.save(editedItem.expedicion)">
                                    </v-date-picker>
                                </v-menu>
                            </v-flex>
                            <v-flex xs12 sm6 md3>
                                <v-menu
                                        ref="menuH"
                                        lazy
                                        :close-on-content-click="false"
                                        v-model="menuH"
                                        transition="scale-transition"
                                        offset-y
                                        full-width
                                        :nudge-right="40"
                                        min-width="290px"
                                        :return-value.sync="editedItem.vencimiento"
                                >
                                    <v-text-field
                                            slot="activator"
                                            label="Fecha Vencimiento"
                                            v-model="editedItem.vencimiento"
                                            readonly
                                    ></v-text-field>
                                    <v-date-picker v-model="editedItem.vencimiento" no-title scrollable locale="es-ES" @change="$refs.menuH.save(editedItem.vencimiento)">
                                    </v-date-picker>
                                </v-menu>
                            </v-flex>
                            <v-flex xs12 sm6 md2 v-if="categ == 'MUES'">
                                <v-text-field label="Lote" v-model="editedItem.lote"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md2 v-if="categ != 'MUES'">
                                <v-text-field
                                        label="Precio"
                                        type="number"
                                        min=0
                                        v-model="editedItem.precio"
                                ></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md2 v-if="categ != 'MUES'">
                                <v-text-field
                                        label="Descuento"
                                        type="number"
                                        min=0
                                        max=90
                                        v-model="editedItem.descuento"
                                ></v-text-field>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn class="btn2 btn-w accent" flat @click.native="close">Cancelar</v-btn>
                    <v-btn class="btn2 btn-w siif" flat @click.native="save">Guardar</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <div v-if="load">
            <v-progress-linear :indeterminate="load" ></v-progress-linear>
            <p class="text-center">Procesando</p>
        </div>
        <v-list v-if="!load">
            <v-spacer></v-spacer>
            <div class="row">
                <div class="col-md-6">
                    <v-text-field
                            append-icon="search"
                            label="Buscar"
                            single-line
                            hide-details
                            v-model="search"
                    ></v-text-field>
                </div>
            </div>
            <v-spacer></v-spacer>
            <v-data-table
                    :headers="headers"
                    :items="items"
                    class="elevation-1"
                    :search="search"
                    no-results-text="No se encuentra este producto"
                    no-data-text="Sin Productos"
                    :rows-per-page-items = '[25,50,100,{"text":"All","value":-1}]'
                    rows-per-page-text="Registros por pagina"
            >
                <template slot="items" slot-scope="props">
                    <td>{{props.item.id}}</td>
                    <td >{{ props.item.nombre }}</td>
                    <td v-if="categ != 'MUES'">{{ props.item.precio.toLocaleString() }}</td>
                    <td v-if="categ == 'MUES'">S/P</td>
                    <td v-if="categ != 'MUES'">{{ props.item.descuento }}</td>
                    <td v-if="categ == 'MUES'">S/D</td>
                    <td >{{ props.item.principio?props.item.principio:'S/P' }}</td>
                    <td >{{ props.item.linea }}</td>
                    <td >{{ props.item.expedicion }}</td>
                    <td >{{ props.item.vencimiento }}</td>
                    <td class=" layout px-0">
                        <v-btn icon class="mx-0" @click="editItem(props.item)">
                            <v-icon color="accent">edit</v-icon>
                        </v-btn>
                        <v-btn icon class="mx-0" @click="deleteItem(props.item)">
                            <v-icon color="pink">delete</v-icon>
                        </v-btn>
                    </td>
                </template>
            </v-data-table>
        </v-list>
    </div>
    
</template>
<script>
    export default {
        props : ['fabricante','categ','linea','mayoristas','tipos'],
        data : () => ({
            dialog: false,
            headers: [
                {
                    text: 'id',
                    align: 'left',
                    sortable: false,
                    value: 'id'
                },
                { text: 'Nombre', value: 'nombre' },
                { text: 'Precio', value: 'precio' },
                { text: 'Descuento', value: 'descuento' },
                { text: 'Principio', value: 'principio' },
                { text: 'Linea', value: 'linea' },
                { text: 'Fecha de expedición', value: 'expedicion' },
                { text: 'Fecha de vencimiento', value: 'Vencimiento' },
                { text: 'Actions', value: 'name', sortable: false }
            ],
            search: '',
            load: true,
            action:'add',
            editedIndex: -1,
            menuD:'',
            menuH:'',
            editedItem: {
                id:'',
                nombre:'',
                catidad:'',
                linea:'',
                expedicion:null,
                vencimiento:null,
                lote:'',
                descuento:'',
                mayorista:'',
                tipo:''
            },
            defaultItem: {
                id:'',
                nombre:'',
                catidad:'',
                linea:'',
                expedicion:null,
                vencimiento:null,
                lote:'',
                descuento:'',
                mayorista:'',
                tipo:''
            }

        }),
        computed: {
            formTitle () {
                return this.editedIndex === -1 ? 'Agregar' : 'Editar'
            }
        },

        watch: {
            dialog (val) {
                val || this.close()
            }
        },

        created () {
            this.initialize()
        },
        beforeMount: function () {
            axios.post('/services/producto/consult2',{'categoria':this.categ,'fabricante': this.fabricante})
                .then((res)=>{
                    this.items=res.data.data;
                    this.load= false;
                },(error)=>{
                    this.load = false;
                })
        },
        methods : {
            initialize () {
                this.items = this.valores;
            },

            editItem (item) {
                this.editedIndex = this.items.indexOf(item),
                this.editedItem = Object.assign({}, item),
                 
                    
                this.dialog = true,
                this.action='upd'
            },

            deleteItem (item) {
                const index = this.items.indexOf(item)
                console.log(index)
                confirm('Estas seguro que quieres eliminar este objeto') && this.deleteData(index)
            },

            deleteData(id){
                let process=this.categ.toLowerCase();
                console.log(id)
                axios.post('/services/producto/del',{
                    "id":this.items[id].id,
                    "fabricante":this.fabricante,
                    "categoria":this.categ
                })
                    .then((res)=>{
                        console.log(res.data);
                       if(res.status==200){
                           console.log(id)
                          this.items.splice(id, 1);
                        //  console.log('eliminado')

                         
                       }
                          this.close()
                    });
                       this.items.splice(id, 1);
                   
            },

            close () {
                this.dialog = false;
                this.action='add';
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300)
            },

            addItem(item){
                if (this.editedIndex > -1) {
                    Object.assign(this.items[this.editedIndex], item)
                } else {
                    this.items.push(item)
                }
            },
            save () {
                var mayorista,tipo,linea;

                if(!this.editedItem.mayorista.idPersona){
                    mayorista=this.editedItem.mayorista;
                }else{
                    mayorista=this.editedItem.mayorista.idPersona;
                }

                if(!this.editedItem.tipo.idtipo_producto){
                    tipo=this.editedItem.tipo;
                }else{
                    tipo=this.editedItem.tipo.idtipo_producto;
                }

                if(!this.editedItem.linea.id){
                    linea=this.editedItem.linea;
                }else{
                    linea=this.editedItem.linea.id;
                }

                axios.post('/services/producto/'+this.action,{
                    "id":this.editedItem.id, 
                    "nombre":this.editedItem.nombre,
                    "apellido":this.editedItem.apellido,
                    "descuento":this.editedItem.descuento,
                    "cantidad":this.editedItem.cantidad,
                    "linea":linea,
                    "expedicion":this.editedItem.expedicion,
                    "vencimiento":this.editedItem.vencimiento,
                    "lote":this.editedItem.lote,
                    "precio":this.editedItem.precio,
                    "fabricante":this.fabricante,
                    "categoria":this.categ,
                    "mayorista":mayorista,
                    "tipo":tipo
                })
                    .then((res)=>{
                        console.log(res.data.data);
                        if(res.status==200){
                            this.items=res.data.data
                         
                         }
                        
                           
                          this.close()
                    });
            }
        }
    }
</script>
<style >
    .list__group__header{
        border-color: #007bff !important;
        border-left: 1px solid #007bff !important;
        border-top: 1px solid #007bff !important;
        border-right: 1px solid #007bff !important;
        background-color: #E3F2FD!important;
    }
    .list__group__items{
        border-left: 1px solid #007bff !important;
        border-right: 1px solid #007bff !important;
    }
    .btn2{
        padding: 0 !important;
    }

</style>

