<template>
    <div>
        <div class="row">
            <div class="col-4">
                <v-select
                        :items="Empresa"
                        label="Seleccione Fabricante"
                        required
                        item-text="idPersona"
                        item-value="idPersona"
                        return-object
                        v-model="nombre"
                        single-line
                        id="empresa"
                ></v-select>
            </div>
            <div class="col-2">
                <button class="btn siif btn-w float-right " @click="Fabricante(nombre.idPersona)" >Seleccionar</button>
            </div>
        </div>
        <div v-if="nombre">
            <v-data-table
                    :headers="header"
                    :items="logs"
                    hide-actions
                    class="elevation-1"
                    rows-per-page-text="Registros por pagina"
            >
                <template slot="items" slot-scope="props">
                    <td>{{ props.item.idPersona}}</td>
                    <td>{{ props.item.id_Dispositivo_generoModifcacion }}</td>
                    <td >{{ props.item.tipoLog }}</td>
                    <td >{{ props.item.RegistroOcurrido }}</td>
                    <td >{{ props.item.fecha_registro }}</td>
                    <!--<td class=" layout px-0">
                        <v-btn icon class="mx-0" @click="editItem(props.item)">
                            <v-icon color="accent">edit</v-icon>
                        </v-btn>
                        <v-btn icon class="mx-0" @click="deleteItem(props.item)">
                            <v-icon color="pink">delete</v-icon>
                        </v-btn>
                    </td>-->
                </template>
            </v-data-table>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['Empresa', 'tipo','fabrica'],
        data: () => ({
            dialog: false,
            nombre:{idPersona:''},
            logs: [],
            header: [
                {
                    text: 'Persona',
                    align: 'left',
                    value: 'idPersona'
                },
                {
                    text: 'Dispositivo',
                    align: 'left',
                    value: 'id_Dispositivo_generoModifcacion'
                },
                {text: 'Tipo', value: 'tipoLog'},
                {text: 'Descipcion', value: 'RegistroOcurrido'},
                {text: 'Fecha', value: 'fecha_registro'},
                //{text: 'Actions', value: 'name', sortable: false}
            ],
            action: 'add',
            search: '',
            edit: true,
            editedIndex: -1,
            menuD: '',
            editedItem: {
                idmoneda: '',
                codmoneda: '',
                nombreMoneda: '',
                moneda_simbolo: ''
            },
            defaultItem: {
                idmoneda: '',
                codmoneda: '',
                nombreMoneda: '',
                moneda_simbolo: ''
            }
        }),

        computed: {
            formTitle() {
                return this.editedIndex === -1 ? 'Agregar' : 'Editar'
            }
        },

        watch: {
            dialog(val) {
                val || this.close()
            }
        },

        beforeMount: function () {
            this.nombre.idPersona=this.fabrica;
        },

        methods: {

            editItem(item) {

                this.editedIndex = this.moneda.indexOf(item),
                    this.editedItem = Object.assign({}, item),
                    this.dialog = true,
                    this.edit = false,
                    this.action = 'upd'
            },

            deleteItem(item) {
                const index = this.moneda.indexOf(item)
                //     console.log(index)
                confirm('Estas seguro que quieres eliminar este objeto') && this.deleteData(index)
            },
            deleteData(id) {
                let process = this.tipo.toLowerCase()
                axios.post('/services/' + process + '/del', {"id": this.logs[id].id})
                    .then((res) => {
                        if (res.status == 200)
                            this.logs.splice(id, 1);
                    });

            },
            close() {
                this.dialog = false
                this.action = 'add'
                this.edit = true
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300)
            },
            Fabricante(id) {
                this.loading = true;
                let process = this.tipo.toLowerCase();
                axios.post('/services/Admin/' + process, {'fabricante': id})
                    .then((res) => {
                        console.log(typeof res.data);
                        this.logs = res.data;
                        this.loading = false;
                    }, (error) => {
                        this.loading = false;
                    })
            },
        }
    }
</script>