<template>
    <div>
        <div class="row">
            <div class="col-4">
                <v-select
                        :items="Empresa"
                        label="Seleccione Fabricante"
                        required
                        item-text="idPersona"
                        item-value="idPersona"
                        return-object
                        v-model="nombre"
                        single-line
                        id="empresa"
                ></v-select>
            </div>
            <div class="col-2">
                <button class="btn siif btn-w float-right " @click="Fabricante(nombre.idPersona)" >Seleccionar</button>
            </div>
        </div>

        <div v-if="nombre">
            <v-dialog v-model="dialog" max-width="500px">
                <v-btn color="primary" dark slot="activator" class="btn2 btn-w siif">Agregar</v-btn>
                <v-card>
                    <v-card-title>
                        <span class="headline">{{ formTitle }}</span>
                    </v-card-title>
                    <v-card-text>
                        <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12 sm6 md4>
                                    <v-text-field label="Codigo de Moneda" v-model="editedItem.codmoneda"  :disabled="!edit"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md4>
                                    <v-text-field label="Nombre" v-model="editedItem.nombreMoneda"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md4>
                                    <v-text-field label="Simbolo" v-model="editedItem.moneda_simbolo"></v-text-field>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn class="btn2 btn-w accent" flat @click.native="close">Cancelar</v-btn>
                        <v-btn class="btn2 btn-w siif" flat @click.native="save">Guardar</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            <v-data-table
                    :headers="header"
                    :items="moneda"
                    hide-actions
                    class="elevation-1"
                    rows-per-page-text="Registros por pagina"
            >
                <template slot="items" slot-scope="props">
                    <td>{{ props.item.idmoneda}}</td>
                    <td>{{ props.item.codmoneda }}</td>
                    <td >{{ props.item.nombreMoneda }}</td>
                    <td >{{ props.item.moneda_simbolo }}</td>
                    <td class=" layout px-0">
                        <v-btn icon class="mx-0" @click="editItem(props.item)">
                            <v-icon color="accent">edit</v-icon>
                        </v-btn>
                        <v-btn icon class="mx-0" @click="deleteItem(props.item)">
                            <v-icon color="pink">delete</v-icon>
                        </v-btn>
                    </td>
                </template>
            </v-data-table>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['Empresa', 'tipo','fabrica'],
        data: () => ({
            dialog: false,
            nombre:{idPersona:''},
            moneda: [],
            header: [
                {
                    text: 'Codigo',
                    align: 'left',
                    sortable: false,
                    value: 'idmoneda'
                },
                {
                    text: 'Codigo de Moneda',
                    align: 'left',
                    sortable: false,
                    value: 'codmoneda'
                },
                {text: 'Nombre', value: 'nombreMoneda'},
                {text: 'Simbolo', value: 'moneda_simbolo'},
                {text: 'Actions', value: 'name', sortable: false}
            ],
            action: 'add',
            search: '',
            edit: true,
            editedIndex: -1,
            menuD: '',
            editedItem: {
                idmoneda: '',
                codmoneda: '',
                nombreMoneda: '',
                moneda_simbolo: ''
            },
            defaultItem: {
                idmoneda: '',
                codmoneda: '',
                nombreMoneda: '',
                moneda_simbolo: ''
            }
        }),

        computed: {
            formTitle() {
                return this.editedIndex === -1 ? 'Agregar' : 'Editar'
            }
        },

        watch: {
            dialog(val) {
                val || this.close()
            }
        },

        beforeMount: function () {
            this.nombre.idPersona=this.fabrica;
        },

        methods: {

            editItem(item) {

                this.editedIndex = this.moneda.indexOf(item),
                    this.editedItem = Object.assign({}, item),
                    this.dialog = true,
                    this.edit = false,
                    this.action = 'upd'
            },

            deleteItem(item) {
                const index = this.moneda.indexOf(item)
                //     console.log(index)
                confirm('Estas seguro que quieres eliminar este objeto') && this.deleteData(index)
            },
            deleteData(id) {
                let process = this.tipo.toLowerCase()
                axios.post('/services/' + process + '/del', {"id": this.moneda[id].idmoneda})
                    .then((res) => {
                        if (res.status == 200)
                            this.moneda.splice(id, 1);
                    });

            },
            close() {
                this.dialog = false
                this.action = 'add'
                this.edit = true
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300)
            },
            addItem(item) {

                if (this.editedIndex > -1) {
                    Object.assign(this.moneda[this.editedIndex], item)

                } else {
                    this.moneda.push(item)
                }

            },
            save() {
                this.loading = true;
                let process = this.tipo.toLowerCase();
                axios.post('/services/' + process + '/' + this.action, {
                    "idmoneda":this.editedItem.idmoneda,
                    "codmoneda": this.editedItem.codmoneda,
                    "nombremoneda": this.editedItem.nombreMoneda,
                    "moneda_simbolo": this.editedItem.moneda_simbolo,
                    "fabricante": this.nombre.idPersona,
                })
                    .then((res) => {
                        if (res.status == 200) {
                            
                            if (this.action == 'upd') {
                                this.edit = true;
                                this.action = 'add'
                            }
                              if(!(res.data.id==undefined))
                                  this.editedItem.idmoneda=res.data.id;

                            this.addItem(this.editedItem);
                            this.close();
                        }
                    }).catch((e) => {
                    return;
                    this.loading = false;
                })
            },
            Fabricante(id) {
                this.loading = true;
                let process = this.tipo.toLowerCase();
                axios.post('/services/Admin/' + process, {'fabricante': id})
                    .then((res) => {
                        console.log(res.data);
                        this.moneda = res.data;
                        this.loading = false;
                    }, (error) => {
                        this.loading = false;
                    })
            },
        }
    }
</script>

<style >
    .btn2{
        padding: 0 !important;
    }

</style>