<template>
    <div id="monitor">
        <div class="row">
            <div class="col-md-4">
                <v-select
                        :items="empresas"
                        v-model="empresa"
                        label="Empresa"
                        single-line
                        item-text="nombre_completo_razon_social"
                        item-value="idPersona"
                        return-object
                        dense
                ></v-select>
            </div>
        </div>
        <v-dialog v-model="dialog" max-width="800px" style="max-height:100% !important">
            <v-card>
                <v-card-title>
                    <span class="headline">Errores de Archivo</span>
                </v-card-title>
                <hr />
                <v-card-text>
                    <v-container grid-list-md>
                        <v-data-table
                                :headers="headers"
                                :items="errores"
                                class="elevation-1"
                                no-results-text="No se encuentra esta persona"
                                no-data-text="Sin Errores"
                                :rows-per-page-items = '[25,50,100,{"text":"All","value":-1}]'
                        >
                            <template slot="items" slot-scope="props">
                                <td >{{ props.item.error}}</td>
                                <td >{{ props.item.details[0]}}</td>
                            </template>
                        </v-data-table>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn class="btn2 btn-w accent" flat @click.native="close">Cancelar</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <div class="row my-4">
            <div class="col-12">
                <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Personas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="geografico-tab" data-toggle="tab" href="#geografico" role="tab" aria-controls="geografico" aria-selected="false">Geografico</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <br>
                    <div class="border border-dark">
                        <div class="row px-2 py-0"><!--
                    <div class="col-sm-4 col-md-2 align-self-center justify-content-center">
                        <p class="font-bold text-center">Archivos de Categorias:</p>
                        <v-btn
                                color="accent"
                                outline
                                class="white--text float-right pt-1 px-2"
                                @click="formato('CategoriaPFormato')"
                                :disabled="!empresa"
                        >
                            Descargar
                            <v-icon right dark>cloud_download</v-icon>
                        </v-btn>
                    </div>
                    <div class="col-sm-8 col-md-4 border-right border-dark">
                        <vue-dropzone :options="dropzoneOptionsPCategoria" id="Pcategoria" ref="DPcategoria" class="my-3" v-on:vdropzone-sending="sendingEvent" v-on:vdropzone-success="succesEvent">
                        </vue-dropzone>
                    </div>
                    <div class="col-sm-4 col-md-2 align-self-center justify-content-center">
                        <p class="font-bold text-center">Archivos de linea de productos:</p>
                        <v-btn
                                color="accent"
                                outline
                                class="white--text float-right pt-1 px-2"
                                @click="formato('LineaFormato')"
                                :disabled="!empresa"
                        >
                            Descargar
                            <v-icon right dark>cloud_download</v-icon>
                        </v-btn>
                    </div>
                    <div class="col-sm-8 col-md-4">
                        <vue-dropzone :options="dropzoneOptionsLinea" id="Linea" ref="Dlinea" class="my-3" v-on:vdropzone-sending="sendingEvent" v-on:vdropzone-success="succesEvent">
                        </vue-dropzone>
                    </div>
                    <div class="col-sm-4 col-md-2 align-self-center justify-content-center">
                        <p class="font-bold text-center">Archivos de Tipos de productos:</p>
                        <v-btn
                                color="accent"
                                outline
                                class="white--text float-right pt-1 px-2"
                                @click="formato('TipoProductoFormato')"
                                :disabled="!empresa"
                        >
                            <div class="d-sm-none d-md-block">Descargar</div>
                            <v-icon right dark>cloud_download</v-icon>
                        </v-btn>
                    </div>
                    <div class="col-sm-8 col-md-4 border-right border-dark">
                        <vue-dropzone :options="dropzoneOptionsPtipo" id="Ptipo" ref="DPtipo" class="my-3" v-on:vdropzone-sending="sendingEvent" v-on:vdropzone-success="succesEvent">
                        </vue-dropzone>
                    </div> -->
                            <div class="col-sm-4 col-md-2 align-self-center justify-content-center">
                                <p class="font-bold text-center">Archivos de productos:</p>
                                <v-btn
                                        color="accent"
                                        outline
                                        class="white--text float-right pt-1 px-2"
                                        @click="formato('ProductoFormato')"
                                        :disabled="!empresa"
                                >
                                    Descargar
                                    <v-icon right dark>cloud_download</v-icon>
                                </v-btn>
                            </div>
                            <div class="col-sm-8 col-md-4">
                                <vue-dropzone :options="dropzoneOptionsProducto" id="Producto" ref="Dproducto" class="my-3" v-on:vdropzone-sending="sendingEvent" v-on:vdropzone-success="succesEvent">
                                </vue-dropzone>
                            </div>
                            <div class="col-sm-4 col-md-2 align-self-center justify-content-center">
                                <p class="font-bold text-center">Archivos de Materiales para clientes:</p>
                                <v-btn
                                        color="accent"
                                        outline
                                        class="white--text float-right pt-1 px-2"
                                        @click="formato('CliMatFormato')"
                                        :disabled="!empresa"
                                >
                                    Descargar
                                    <v-icon right dark>cloud_download</v-icon>
                                </v-btn>
                            </div>
                            <div class="col-sm-8 col-md-4">
                                <vue-dropzone :options="dropzoneCliMat" id="climat" ref="Dclimat" class="my-3" v-on:vdropzone-sending="sendingEvent" v-on:vdropzone-success="succesEvent">
                                </vue-dropzone>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <br>
                    <div class="border border-dark">
                        <div class="row px-2 py-0">
                            <div class="col-sm-4 col-md-2 align-self-center justify-content-center">
                                <p class="font-bold text-center"> Archivos de RFV, Mayoristas o Clientes. </p>
                                <v-btn
                                        color="accent"
                                        outline
                                        class="white--text float-right pt-1 px-2"
                                        @click="formato('PersonaFormato')"
                                        :disabled="!empresa"
                                >
                                    Descargar
                                    <v-icon right dark>cloud_download</v-icon>
                                </v-btn>
                            </div>
                            <div class="col-sm-8 col-md-4">
                                <vue-dropzone :options="dropzoneOptionsPersona" id="Persona" ref="Dpersona" class="my-3" v-on:vdropzone-sending="sendingEvent" v-on:vdropzone-success="succesEvent">
                                </vue-dropzone>
                            </div>
                            <div class="col-sm-4 col-md-2 align-self-center justify-content-center">
                                <p class="font-bold text-center">Archivos de Clientes por RFV:</p>
                                <v-btn
                                        color="accent"
                                        outline
                                        class="white--text float-right pt-1 px-2"
                                        @click="formato('CliRfvFormato')"
                                        :disabled="!empresa"
                                >
                                    <div class="d-sm-none d-md-block">Descargar</div>
                                    <v-icon right dark>cloud_download</v-icon>
                                </v-btn>
                            </div>
                            <div class="col-sm-8 col-md-4 border-right border-dark">
                                <vue-dropzone
                                        :options="dropzoneCLIRFV"
                                        id="clirfv"
                                        ref="Dclirfv"
                                        class="my-3"
                                        v-on:vdropzone-sending="sendingEvent"
                                        v-on:vdropzone-success="succesEvent"
                                >
                                </vue-dropzone>
                            </div>
                            <!--CliMatFormato ProductoFormato -->
                            <div class="col-sm-4 col-md-2 align-self-center justify-content-center">
                                <p class="font-bold text-center"> Archivos de dias de visita al cliente. </p>
                                <v-btn
                                        color="accent"
                                        outline
                                        class="white--text float-right pt-1 px-2"
                                        @click="formato('ClienteDiasFormato')"
                                        :disabled="!empresa"
                                >
                                    Descargar
                                    <v-icon right dark>cloud_download</v-icon>
                                </v-btn>
                            </div>
                            <div class="col-sm-8 col-md-4">
                                <vue-dropzone :options="dropzoneOptionsDisponible" id="Persona" ref="Ddisponible" class="my-3" v-on:vdropzone-sending="sendingEvent" v-on:vdropzone-success="succesEvent">
                                </vue-dropzone>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="geografico" role="tabpanel" aria-labelledby="geografico-tab">
                    <br>
                    <div class="border border-dark ">
                        <div class="row px-2 py-0">
                            <div class="col-sm-4 col-md-2 align-self-center justify-content-center">
                                <p class="font-bold text-center">Archivos de Zonas:</p>
                                <v-btn
                                        color="accent"
                                        outline
                                        class="white--text float-right pt-1 px-2"
                                        @click="formato('ZonaFormato')"
                                        :disabled="!empresa"
                                >
                                    Descargar
                                    <v-icon right dark>cloud_download</v-icon>
                                </v-btn>
                            </div>
                            <div class="col-sm-8 col-md-4 border-right border-dark">
                                <vue-dropzone :options="dropzoneOptionsZona" id="zona" ref="Dzona" class="my-3" v-on:vdropzone-sending="sendingEvent" v-on:vdropzone-success="succesEvent">
                                </vue-dropzone>
                            </div>
                            <div class="col-sm-4 col-md-2 align-self-center justify-content-center">
                                <p class="font-bold text-center">Archivos de Rutas:</p>
                                <v-btn
                                        color="accent"
                                        outline
                                        class="white--text float-right pt-1 px-2"
                                        @click="formato('RutaFormato')"
                                        :disabled="!empresa"
                                >
                                    Descargar
                                    <v-icon right dark>cloud_download</v-icon>
                                </v-btn>
                            </div>
                            <div class="col-sm-8 col-md-4 ">
                                <vue-dropzone :options="dropzoneOptionsRuta" id="ruta" ref="Druta" class="my-3" v-on:vdropzone-sending="sendingEvent" v-on:vdropzone-success="succesEvent">
                                </vue-dropzone>
                            </div>
                            <div class="col-sm-4 col-md-2 align-self-center justify-content-center">
                                <p class="font-bold text-center">Archivos de Cadenas:</p>
                                <v-btn
                                        color="accent"
                                        outline
                                        class="white--text float-right pt-1 px-2"
                                        @click="formato('CadenaFormato')"
                                        :disabled="!empresa"
                                >
                                    Descargar
                                    <v-icon right dark>cloud_download</v-icon>
                                </v-btn>
                            </div>
                            <div class="col-sm-8 col-md-4 border-right border-dark">
                                <vue-dropzone :options="dropzoneOptionsCadena" id="cadena" ref="Dcadena" class="my-3" v-on:vdropzone-sending="sendingEvent" v-on:vdropzone-success="succesEvent">
                                </vue-dropzone>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>
<script>
    export default {
        props : {
            empresas: {
                type: Array,
                default: function () {
                    return []
                }
            }
        },
        watch:{
            empresa(val, oldval){
                if(val){
                    this.$refs.Dzona.enable();
                    this.$refs.Druta.enable();
                    this.$refs.Dcadena.enable();
                    //this.$refs.DPcategoria.enable();
                    //this.$refs.Dlinea.enable();
                    //this.$refs.DPtipo.enable();
                    this.$refs.Dproducto.enable();
                    this.$refs.Dclirfv.enable();
                    this.$refs.Dclimat.enable();
                    this.$refs.Dpersona.enable();
                    this.$refs.Ddisponible.enable();
                }
            }
        },
        data  () {
            return {
                empresa: null,
                dialog:false,
                errores:[],
                headers:[
                    {
                        text: 'Error',
                        align: 'left',
                        sortable: false,
                        value: ''
                    },
                    { text: 'Detalle', sortable: false, value: '' },
                ],
                dropzoneOptionsZona: {
                    url: '/procesos/monitor/LoadZona',
                    method: 'post',
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    },
                    paramName: 'FormatoZona',
                    addRemoveLinks: true,
                    maxFilesize: 1,
                    maxFiles: 1,
                    uploadMultiple: false,
                    parallelUploads: 1,
                    dictDefaultMessage: "<i class='fa fa-file-excel siif--text fa-2x'></i> Click o Arrastra tu excel aquí para subirlos",
                    acceptedFiles: ".xlsx",
                    maxfilesexceeded: function(file) {
                        this.removeAllFiles();
                        this.addFile(file);
                    }
                },
                dropzoneOptionsRuta: {
                    url: '/procesos/monitor/LoadRuta',
                    method: 'post',
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    },
                    paramName: 'FormatoRuta',
                    addRemoveLinks: true,
                    maxFilesize: 1,
                    maxFiles: 1,
                    uploadMultiple: false,
                    parallelUploads: 1,
                    dictDefaultMessage: "<i class='fa fa-file-excel siif--text fa-2x'></i> Click o Arrastra tu excel aquí para subirlos",
                    acceptedFiles: ".xlsx",
                    maxfilesexceeded: function(file) {
                        this.removeAllFiles();
                        this.addFile(file);
                    }
                },
                dropzoneOptionsCadena: {
                    url: '/procesos/monitor/LoadCadena',
                    method: 'post',
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    },
                    paramName: 'FormatoCadena',
                    addRemoveLinks: true,
                    maxFilesize: 1,
                    maxFiles: 1,
                    uploadMultiple: false,
                    parallelUploads: 1,
                    dictDefaultMessage: "<i class='fa fa-file-excel siif--text fa-2x'></i> Click o Arrastra tu excel aquí para subirlos",
                    acceptedFiles: ".xlsx",
                    maxfilesexceeded: function(file) {
                        this.removeAllFiles();
                        this.addFile(file);
                    }
                },
                dropzoneOptionsPCategoria: {
                    url: 'https://httpbin.org/post',
                    addRemoveLinks: true,
                    dictDefaultMessage: "<i class='fa fa-file-excel siif--text fa-2x'></i> Click o Arrastra tu excel aquí para subirlos",
                    acceptedFiles: ".xlsx",
                    thumbnailHeight: 80,
                    resizeHeight : 80
                },
                dropzoneOptionsLinea: {
                    url: 'https://httpbin.org/post',
                    addRemoveLinks: true,
                    dictDefaultMessage: "<i class='fa fa-file-excel siif--text fa-2x'></i> Click o Arrastra tu excel aquí para subirlos",
                    acceptedFiles: ".xlsx",
                    thumbnailHeight: 80,
                    resizeHeight : 80
                },
                dropzoneOptionsPtipo: {
                    url: 'https://httpbin.org/post',
                    addRemoveLinks: true,
                    dictDefaultMessage: "<i class='fa fa-file-excel siif--text fa-2x'></i> Click o Arrastra tu excel aquí para subirlos",
                    acceptedFiles: ".xlsx",
                    thumbnailHeight: 80,
                    resizeHeight : 80
                },
                dropzoneOptionsProducto: {
                    url: '/procesos/monitor/LoadProducto',
                    method: 'post',
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    },
                    paramName: 'FormatoProducto',
                    addRemoveLinks: true,
                    maxFilesize: 1,
                    maxFiles: 1,
                    uploadMultiple: false,
                    parallelUploads: 1,
                    dictDefaultMessage: "<i class='fa fa-file-excel siif--text fa-2x'></i> Click o Arrastra tu excel aquí para subirlos",
                    acceptedFiles: ".xlsx",
                    maxfilesexceeded: function(file) {
                        this.removeAllFiles();
                        this.addFile(file);
                    }
                },
                dropzoneCLIRFV: {
                    url: '/procesos/monitor/LoadCliRfv',
                    method: 'post',
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    },
                    paramName: 'FormatoCliRfv',
                    addRemoveLinks: true,
                    maxFilesize: 1,
                    maxFiles: 1,
                    uploadMultiple: false,
                    parallelUploads: 1,
                    dictDefaultMessage: "<i class='fa fa-file-excel siif--text fa-2x'></i> Click o Arrastra tu excel aquí para subirlos",
                    acceptedFiles: ".xlsx",
                    maxfilesexceeded: function(file) {
                        this.removeAllFiles();
                        this.addFile(file);
                    }
                },
                dropzoneCliMat: {
                    url: '/procesos/monitor/LoadCliMat',
                    method: 'post',
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    },
                    paramName: 'FormatoCliMat',
                    addRemoveLinks: true,
                    maxFilesize: 1,
                    maxFiles: 1,
                    uploadMultiple: false,
                    parallelUploads: 1,
                    dictDefaultMessage: "<i class='fa fa-file-excel siif--text fa-2x'></i> Click o Arrastra tu excel aquí para subirlos",
                    acceptedFiles: ".xlsx",
                    maxfilesexceeded: function(file) {
                        this.removeAllFiles();
                        this.addFile(file);
                    }
                },
                dropzoneOptionsPersona: {
                    url: '/procesos/monitor/LoadPersona',
                    method: 'post',
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    },
                    paramName: 'FormatoPersona',
                    addRemoveLinks: true,
                    maxFilesize: 1,
                    maxFiles: 1,
                    uploadMultiple: false,
                    parallelUploads: 1,
                    dictDefaultMessage: "<i class='fa fa-file-excel siif--text fa-2x'></i> Click o Arrastra tu excel aquí para subirlos",
                    acceptedFiles: ".xlsx",
                    maxfilesexceeded: function(file) {
                        this.removeAllFiles();
                        this.addFile(file);
                    }
                },
                dropzoneOptionsDisponible: {
                    url: '/procesos/monitor/LoadClienteDisponible',
                    method: 'post',
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    },
                    paramName: 'ClienteDiasFormato',
                    addRemoveLinks: true,
                    maxFilesize: 1,
                    maxFiles: 1,
                    uploadMultiple: false,
                    parallelUploads: 1,
                    dictDefaultMessage: "<i class='fa fa-file-excel siif--text fa-2x'></i> Click o Arrastra tu excel aquí para subirlos",
                    acceptedFiles: ".xlsx",
                    maxfilesexceeded: function(file) {
                        this.removeAllFiles();
                        this.addFile(file);
                    }
                }
            }
        },
        mounted : function () {
            this.$refs.Dzona.disable();
            this.$refs.Druta.disable();
            this.$refs.Dcadena.disable();
            //this.$refs.DPcategoria.disable();
            //this.$refs.Dlinea.disable();
            //this.$refs.DPtipo.disable();
            this.$refs.Dproducto.disable();
            this.$refs.Dclirfv.disable();
            this.$refs.Dclimat.disable();
            this.$refs.Dpersona.disable();
            this.$refs.Ddisponible.disable();
        },
        methods: {
            activegeografico() {
                this.Module.productos=false;
                this.Module.personas=false;
                this.Module.geografico=true;
            },
            activeproductos() {
                this.Module.geografico=false;
                this.Module.personas=false;
                this.Module.productos=true;
            },
            activepersonas() {
                this.Module.geografico=false;
                this.Module.productos=false;
                this.Module.personas=true;
            },
            formato(filename){
                axios({
                    method:'post',
                    url:'/procesos/monitor/'+filename,
                    responseType:'blob',
                    data: {
                        'id':this.empresa.idPersona
                    }
                }).then((response)=> {
                        const url = window.URL.createObjectURL(new Blob([response.data]));
                        const link = document.createElement('a');
                        link.href = url;
                        link.setAttribute('download', filename+'.xlsx');
                        document.body.appendChild(link);
                        link.click();
                    }

                );
            },
            close () {
                this.dialog = false;
                this.errores=[];
            },
            sendingEvent (file, xhr, formData) {
                formData.append('id', this.empresa.idPersona);
            },

            succesEvent (file, response){
                if(response.status==400){
                    this.errores=response.error;
                    this.dialog=true;
                }
            }
        }
    }
</script>

<style>
    .dropzone {
        padding: 5px 20px;
    }
    .dropzone .dz-preview {
        min-height: 100px;
    }
    .dropzone .dz-preview .dz-details .dz-size {
        margin-bottom: 0;
    }
    .dropzone .dz-preview .dz-progress {
        top: 60%;
    }
    .vue-dropzone .dz-preview .dz-progress .dz-upload {
        background: #35cc2f;
    }
    .dropzone .dz-preview .dz-success-mark svg, .dropzone .dz-preview .dz-error-mark svg {
        display: block;
        width: 3rem;
        height: 3rem;
    }
    .vue-dropzone .dz-preview .dz-remove {
        padding: 3px;
    }
    .vue-dropzone .dz-preview .dz-image img:not([src]) {
        width: 150px;
        height: 150px;
    }
    .btn2{
        padding: 0 !important;
    }
</style>
