<template>
	<div>
		<v-alert type="success" dismissible v-model="alertreport" style="display: none;">
            <p class="text-center">Se ha procesado con exito</p>
        </v-alert>
        <v-alert type="error" dismissible v-model="alertreporterror" style="display: none;">
            <p class="text-center">Hubo un error al procesar</p>
        </v-alert>
        <v-alert type="warning" dismissible v-model="alertvalid" style="display: none;">
            <p class="text-center">Datos incorrectos, verifique la data ingresada</p>
        </v-alert>
            <div class="row">
                <div class="col-md-6 col-sm-6 md-form">
                    <v-select
                            label="Cliente"
                            autocomplete
                            :loading="loadingselect"
                            cache-items
                            required
                            :rules="[() => cliente != '' || 'Seleccione un cliente, puede hacer busquedas']"
                            :items="clientes"
                            return-object
                            item-text="nombre_completo_razon_social"
                            item-value="idPersona"
                            :search-input.sync="search"
                            append-icon="search"
                            v-model="cliente"
                            @input="habilitarmuestras2()"
                            dense
                    ></v-select>
                </div>
                <div class="col-md-6">
                    <v-text-field
                    label="Representante"
                    :value= "rfv"
                    disabled
                  ></v-text-field>
                </div>
                
            </div>
            <div class="row mt-0 align-items-center">
                <div class="col-md-4 md-form">
                    <v-select
                            :items="actividades"
                            label="Seleccione una actividad"
                            required
                            :rules="[() => actividad != '' || 'Seleccione una actividad']"
                            item-text="descripcion_tipo_actividades"
                            item-value="idtipo_actividades"
                            return-object
                            autocomplete
                            v-model=actividad
                            auto
                            @input="habilitarmuestras($event)"
                            dense
                    ></v-select>
                </div>
                <div class="col-md-4 md-form">
                    <v-select
                            :items="incidentes"
                            required
                            label="Seleccione un evento"
                            :rules="[() => incidente != '' || 'Seleccione un evento']"
                            item-text="descripcion_tipo_incidentes"
                            item-value="idtipo_incidentes"
                            return-object
                            autocomplete
                            v-model=incidente
                            dense
                    ></v-select>
                </div>
                <div class="col-md-4 md-form">
                    <v-text-field
                            label="Comentario"
                            textarea
                            rows="5"
                            counter="80"
                            v-model="comentario"
                            :rules="[() => comentario.length < 80  || 'comentario muy largo']"
                    ></v-text-field>
                </div>
            </div>
        <div class="clearfix"></div>
        <br>
        <div class="row" id="muestra">
            <div class="col-12">
                <!--Table-->
                <v-data-table
                        :headers="headers"
                        :items="muestras"
                        class="table-bordered table-responsive-md"
                        no-data-text="Sin Muestra"
                        rows-per-page-text="Registros por pagina"
                >
                    <template slot="items" slot-scope="props">
                        <td>{{ props.item.idproducto}}</td>
                        <td >{{ props.item.nombre }}</td>
                        <td >{{ props.item.cantidad }}</td>
                        <td >{{ props.item.lote }}</td>
                        <td class="justify-center layout">
                            <v-btn icon flat class="mx-0 p-0" color="blue" @click="borrar4(props)">
                                <v-icon color="blue">delete</v-icon>
                            </v-btn>
                        </td>
                    </template>
                </v-data-table>
                <!--Table-->
                <div class="row" >
                    <div class="col-6">
                        <button v-if="clientemuestra" class="btn btn-w btn-md siif" @click="buscamateriales()" data-toggle="modal" data-target="#myModal" style="width: 25%; padding: 2%; border-radius: 4px !important;">Agregar Muestra</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-md btn-w siif float-right" @click="validarenvioreporte()">Procesar</button>
                        <!--data-toggle="modal" data-target="#myModal2"-->
                    </div>
                </div>
            </div>
        </div>
        <div v-if="loading">
            <v-progress-linear :indeterminate="loading" ></v-progress-linear>
            <p class="text-center">Procesando...</p>
        </div>

        <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel" >Buscar Muestras</h4>
                    <v-spacer></v-spacer>
                    <v-text-field
                            append-icon="search"
                            label="Buscar"
                            single-line
                            hide-details
                            v-model="searchmuestras"
                    ></v-text-field>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <v-data-table
                            :headers="headers"
                            :items="mayorista"
                            class="table-bordered table-responsive-md"
                            no-data-text="Sin muestras"
                            :search="searchmuestras"
                            :loading="loadermuestras"
                    >
                        <v-progress-linear slot="progress" :indeterminate="loadermuestras"></v-progress-linear>
                        <template slot="items" slot-scope="props">
                            <td>{{ props.item.pivot.idproducto}}</td>
                            <td >{{ props.item.nombre_producto }}</td>
                            <td ><input type="number" name="cantidad" id="cantidad" v-model="props.item.cantidad" min="1" :max=props.item.cantidad_producto_existente></td>
                            <td >{{ props.item.lote }}</td>
                            <td class="justify-center layout">
                                <v-btn flat icon class="mx-0 p-0" color="blue" @click="enviar(props.item)">
                                    <v-icon color="blue">add</v-icon>
                                </v-btn>
                            </td>
                        </template>
                        <v-alert slot="no-results" :value="true" color="error" icon="warning">
                            Tu busqueda para "{{ searchmuestras }}" no tuvo resultados.
                        </v-alert>
                    </v-data-table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-ct btn-w siif"  data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal confirmacion -->
    <div class="modal fade bs-example-modal-lg" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header accent">
                    <h4 class="modal-title" id="myModalLabel" style="color:white;">Confirmación</h4>
                    <button type="button" class="close btn-w" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form action="" method="post" id="formchangepassword">
                        <div class="row">
                            <div class="col-6">
                                <h5>Introduzca código para enviar el reporte</h5>
                                <br>
                                <v-text-field
                                    label="Codigo"
                                    name="codigo"
                                    type=password
                                    v-model=pass
                                    required
                                    :rules="[() => pass != '' || 'Debe colocar el codigo de confirmación']"
                                ></v-text-field>
                            </div>
                        </div>
                        <div id="loader" style="position: absolute;	text-align: center;	top: 55px;	width: 100%;display:none;"></div><!-- Carga gif animado -->
                        <div class="outer_div" ></div><!-- Datos ajax Final --><br>
                        <div class="modal-footer">
                            <button type="button" class="btn siif btn-w"  data-dismiss="modal" @click="validarenvioreporte()">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
	</div>
</template>
<script>
    export default {
        props : ['token','actividades','incidentes','rfv'],
        data : function () {
            return {
            	headers : [
                    {text: 'Codigo',value: 'idproducto',},
                    { text: 'Producto', value: 'nombre_producto' },
                    { text: 'Unidades', value: 'cantidad' },
                    { text: 'Lote', value: 'lote' },
                    {text: 'Accion', value: '', sortable: false}
                ],
                search: null,
            	actividad:{},
            	incidente:{},
            	muestras:[],
            	loadingselect: false,
            	cliente:"",
            	clientes:[],
            	pass:"",
            	clientemuestra:false,
            	mayorista:[],
            	loadermuestras: false,
            	searchmuestras: '',
            	loading:false,
            	comentario:"",
            	alertvalid:false,
	            alertreport:false,
	            alertreporterror:false,
            }
        },
        watch: {
	        search (val) {
	            val && this.buscarcliente(val)
	        }
	    },
        mounted:function () {
            this.actividad = this.actividades[0];
            this.incidente= this.incidentes[0];
        },
        methods : {
        	buscarcliente (val){
	            let obj = this.clientes.find(o => {
	                                    if(o.nombre_completo_razon_social.toLowerCase().indexOf(val.toLowerCase())!=-1){
	                                            return true;
	                                        }
	                                    if(o.nombre_completo_razon_social.toLowerCase()=== val.toLowerCase()){
	                                        return true;
	                                    }

	                                    });
	            if(!obj){
	                this.loadingselect=true;
	                axios.post('/services/search-cliente',{data: val})
	                    .then((res)=>{
	                        this.clientes=res.data;
	                        this.loadingselect=false;
	                    },(error)=>{
	                        this.loadingselect=false;
	                    });
	            }
	            
	        },
	        habilitarmuestras(event){
	            var idx = event.descripcion_tipo_actividades.toLowerCase().indexOf('materiales');
	            if(idx!=-1 && this.cliente)
	            this.clientemuestra=true;
	            else
	            this.clientemuestra=false;
	        },
            habilitarmuestras2(){
                if(this.actividad){
                    var idx = this.actividad.descripcion_tipo_actividades.toLowerCase().indexOf('materiales');
                    if(idx!=-1 && this.cliente)
                    this.clientemuestra=true;
                    else
                    this.clientemuestra=false;
                }
            },
	        borrar4 (index){
	            this.muestras.splice(index, 1);
	        },
	        buscamateriales (){
	            this.loadermuestras=true;
	            axios.post('/services/cliente/materiales',{'id':this.cliente.idPersona})
	                .then((res)=>{
	                    this.loadermuestras=false;
	                    this.mayorista=res.data.materiales;
	                },(error)=>{
	                    this.loadermuestras=false;
	                })
	        },
	        enviar (index){
	            var aux = {
                idproducto:index.pivot.idproducto,
                nombre:index.nombre_producto,
                cantidad:index.cantidad,
                lote:index.lote
	            }
	            var obj = this.muestras.find(function (obj) { return obj.idproducto === index.pivot.idproducto; });
	            if(!obj){
	                if(aux.cantidad && aux.cantidad>0)
	                this.muestras.push(aux)
	            }
	        },
	        validarenvioreporte(){
	            if(this.cliente.idPersona && this.actividad.idtipo_actividades  && this.comentario.length < 80){
	                var idx = this.actividad.descripcion_tipo_actividades.toLowerCase().indexOf('materiales');
	                if(idx!=-1 && this.muestras.length>0){
	                    this.enviarreporte()
	                }else if(idx==-1 ){
	                    this.enviarreporte()
	                }else if(idx!=-1 && this.muestras.length==0){
	                    this.alertvalid=true;
	                }
	            }else{
	                this.alertvalid=true;
	            }
	        },
	        enviarreporte (){
                    this.alertvalid=false;
                    this.alertreport=false;
                    this.alertreporterror=false;
	                this.loading=true;
	                axios.post('/services/Reporte/add-new',{
	                'idcliente': this.cliente.idPersona,
	                'tipo': this.actividad.idtipo_actividades,
	                'incidentes': this.incidente.idtipo_incidentes,
	                'comentario': this.comentario,
	                'muestras': this.muestras
	            })
	                .then((res)=>{
	                    this.mayoristas=[],
	                    this.muestras=[],
	                    this.cliente="",
	                    this.comentario="",
		                this.loading=false;
		                this.alertreport=true;
                        this.actividad = this.actividades[0];
                        this.incidente= this.incidentes[0];
	                },(error)=>{
	                    this.loading=false;
	                    this.alertreporterror=true;
	                });
	            
	        }
        }
    }
</script>

<style>
    .input-group input:disabled{
        color: black !important;
    }
</style>