<template>
    <div>
        <v-dialog v-model="dialog" max-width="500px">
            <v-btn color="primary" dark slot="activator" class="btn2 btn-w siif">Agregar</v-btn>
            <v-card>
                <v-card-title>
                    <span class="headline">{{ formTitle }}</span>
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap>
                            <v-flex xs12 sm6 md4>
                                <v-text-field label="Codigo" v-model="editedItem.id" :disabled="!edit"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md4>
                                <v-text-field label="Descripcion" v-model="editedItem.descripcion"></v-text-field>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn class="btn2 btn-w accent" flat @click.native="close">Cancelar</v-btn>
                    <v-btn class="btn2 btn-w siif" flat @click.native="save">Guardar</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-data-table
                :headers="headers"
                :items="items"
                hide-actions
                class="elevation-1"
                :rows-per-page-items = '[25,50,100,{"text":"All","value":-1}]'
                rows-per-page-text="Registros por pagina"
        >
            <template slot="items" slot-scope="props">
                <td>{{ props.item.id }}</td>
                <td class="">{{ props.item.descripcion }}</td>
                <td class=" layout px-0">
                    <v-btn icon class="mx-0" @click="editItem(props.item)">
                        <v-icon color="accent">edit</v-icon>
                    </v-btn>
                    <v-btn icon class="mx-0" @click="deleteItem(props.item)">
                        <v-icon color="pink">delete</v-icon>
                    </v-btn>
                </td>
            </template>
            <template slot="no-data">
                <v-btn color="primary" class="btn2 btn-w accent" @click="initialize">Refrescar</v-btn>
            </template>
        </v-data-table>

    </div>
</template>
<script>
    export default {
        props:['valores','tipo','fabricante'],
        data: () => ({
            dialog: false,
            headers: [
                {
                    text: 'Codigo',
                    align: 'left',
                    sortable: false,
                    value: 'id'
                },
                { text: 'Descripcion', value: 'descripcion' },
                {text: 'Accion', value: '', sortable: false}
            ],
            items: [],
            action:'add',
            edit:true,
            editedIndex: -1,
            editedItem: {
                id: '',
                descripcion: '',
            },
            defaultItem: {
                id: '',
                descripcion: '',
            }
        }),

        computed: {
            formTitle () {
                return this.editedIndex === -1 ? 'Agregar' : 'Editar'
            }
        },

        watch: {
            dialog (val) {
                val || this.close()
            }
        },

        created () {
            this.initialize()
        },

        methods: {
            initialize () {
                this.items = this.valores;
            },

            editItem (item) {
               

                    
                   this.editedIndex = this.items.indexOf(item),
                   this.editedItem = Object.assign({}, item),
                   this.dialog = true,
                   this.action='upd'
                   this.edit=false;
                     
            },

            deleteItem (item) {
                const index = this.items.indexOf(item)
                
                 confirm('Estas seguro que quieres eliminar este objeto') && this.deleteData(index)

            },
            deleteData(id){
              let process=this.tipo.toLowerCase();
                    axios.post('/services/persona/'+process+'/del',{"id":this.items[id].id})
                    .then((res)=>{
                        this.items.splice(id, 1);
                    });
            },
            close () {
                this.dialog = false;
                this.action='add';
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300)
                this.edit=true;
            },
            addItem(item){
                  
               if (this.editedIndex > -1) {
                    Object.assign(this.items[this.editedIndex], item)
                    
                } else {
                    this.items.push(item)
                }

            },
            save () {
                let process=this.tipo.toLowerCase();
               
                axios.post('/services/persona/'+process+'/'+this.action,{"id":this.editedItem.id,"descripcion":this.editedItem.descripcion,"fabricante":this.fabricante})
                    .then((res)=>{
                        if(!(res.data.id==undefined))
                          this.editedItem.id=res.data.id

                        this.addItem(this.editedItem);
                        this.close();
                    });
            }
        }
    }
</script>

<style >
    .btn2{
        padding: 0 !important;
    }

</style>
