<template>
    <div>
        <v-dialog v-model="dialog" max-width="800px" style="max-height:100% !important">
            <v-btn color="primary" dark slot="activator" class="btn2 btn-w siif">Agregar</v-btn>
            <v-card >
                <v-card-title>
                    <span class="headline">{{ formTitle }}</span>
                </v-card-title>
                <hr />
                <v-card-text>
                    <v-container grid-list-md>
                        <v-card-title>
                            <h5 >Datos Personales</h5>
                        </v-card-title>
                        <v-layout wrap>
                            <v-flex xs12 sm6 md3>
                                <v-text-field label="Nombre" v-model="editedItem.nombre"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md3>
                                <v-text-field label="Apellido" v-model="editedItem.apellido"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md1>
                                <v-select
                                :items="tipo"
                                label="Tipo de persona"
                                item-text="descripcion_tipo_persona"
                                item-value="id"
                                return-object
                                single-line
                                v-model="editedItem.tipo"
                                ></v-select>
                            </v-flex>
                            <v-flex xs12 sm6 md2>
                                <v-text-field label="Documento" v-model="editedItem.CI"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md3>
                                <v-text-field label="Email" type="email" v-model="editedItem.email"></v-text-field>
                                
                            </v-flex>
                            <v-flex xs12 sm6 md2>
                                <v-text-field label="Telefono" v-model="editedItem.telf"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md5>
                                <v-text-field label="Direccion" v-model="editedItem.direccion"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md4 v-if="categ != 'LAB' && categ != 'FABR'">
                                 <span>Genero</span>
                                <v-radio-group v-model="editedItem.genero" row>
                                    <v-radio label="Femenino" value="F" ></v-radio>
                                    <v-radio label="Masculino" value="M"></v-radio>
                                </v-radio-group>
                            </v-flex>
                        </v-layout>
                        <v-card-title v-if="categ != 'FABR' && categ != 'LAB'">
                            <h5 >Datos por Grupo</h5>
                        </v-card-title>
                        <v-layout wrap>
                            <v-flex xs12 sm6 md3 v-if="categ == 'CLI'">
                                <v-select
                                :items="es"
                                label="Especialidad"
                                item-text="descripcion_especialidad"
                                item-value="id"
                                return-object
                                autocomplete
                                v-model="editedItem.especialidad"
                                dense
                                ></v-select>
                            </v-flex>
                            <v-flex xs12 sm6 md3 v-if="categ == 'CLI'">
                                <v-select
                                :items="cl"
                                label="Clase"
                                item-text="descripcion"
                                item-value="id"
                                return-object
                                autocomplete
                                v-model="editedItem.clase"
                                dense
                                ></v-select>
                            </v-flex>
                            <v-flex xs12 sm6 md3 v-if="categ == 'CLI'">
                                 <v-select
                                :items="r"
                                label="Ranking"
                                item-text="descripcion_ranking_cliente"
                                item-value="id"
                                return-object
                                autocomplete
                                v-model="editedItem.ranking"
                                dense
                                ></v-select>
                            </v-flex>
                            <v-flex xs12 sm6 md3 v-if="categ == 'CLI'">
                                <v-select
                                :items="fr"
                                label="Frecuencia"
                                item-text="descripcion_frecuencia_visitas"
                                item-value="idfrecuencia"
                                return-object
                                autocomplete
                                v-model="editedItem.frecuencia"
                                ></v-select>
                            </v-flex>

                            <v-flex xs12 sm6 md3 v-if="categ == 'MAY'">
                                <v-text-field
                                    label="Descuento"
                                    type="number"
                                    min='0'
                                    max='100'
                                    v-model="editedItem.descuento"
                                    single-line
                                ></v-text-field>
                            </v-flex>

                            <v-flex xs12 sm6 md3 v-if="categ == 'RFV' || categ == 'SUP' || categ == 'GRT'">
                                <v-text-field label="Username" v-model="editedItem.username"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md3 v-if="categ == 'RFV' || categ == 'SUP' || categ == 'GRT'">
                                <v-text-field label="Password" type="password" v-model="editedItem.password"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md3 v-if="categ == 'RFV' || categ == 'SUP'">
                                <v-select
                                :items="fr"
                                label="Ciclo"
                                item-text="descripcion_ciclos"
                                item-value="id"
                                return-object
                                autocomplete
                                v-model="editedItem.ciclo"
                                ></v-select>
                            </v-flex>
                            <v-flex xs12 sm6 md3 v-if="categ == 'RFV' || categ == 'SUP'">
                                <v-select
                                :items="r"
                                label="Supervisor"
                                item-text="nombre_completo_razon_social"
                                item-value="idPersona"
                                return-object
                                autocomplete
                                v-model="editedItem.supervisor"
                                ></v-select>
                            </v-flex>
                        </v-layout>
                        <v-card-title>
                            <h5 >Ubicacion</h5>
                        </v-card-title>
                        <v-layout wrap>
                            <v-flex xs12 sm6 md3>
                                <v-select
                                :items="pais"
                                label="Pais"
                                item-text="nombrePais"
                                item-value="idpais"
                                v-model="editedItem.pais"
                                return-object
                                autocomplete
                                dense
                                @focusout="buscaestado()"
                                ></v-select>
                            </v-flex>
                            <v-flex xs12 sm6 md3>
                                <v-select
                                :items="estado"
                                label="Estado"
                                item-text="nombreCiudad"
                                item-value="idestado"
                                return-object
                                autocomplete
                                dense
                                :disabled="!estado"
                                v-model="editedItem.estado"
                                @focusout="buscaciudad()"
                                ></v-select>
                            </v-flex>
                            <v-flex xs12 sm6 md3>
                                <v-select
                                :items="ciudad"
                                label="Ciudad"
                                item-text="nombreCiudad"
                                item-value="idCiudad"
                                return-object
                                autocomplete
                                dense
                                :disabled="!ciudad"
                                v-model="editedItem.ciudad"
                                ></v-select>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn class="btn2 btn-w accent" flat @click.native="close">Cancelar</v-btn>
                    <v-btn class="btn2 btn-w siif" flat @click.native="save">Guardar</v-btn>
                    
                </v-card-actions>
            </v-card>
        </v-dialog>
        
        <div v-if="load">
            <v-progress-linear :indeterminate="load" ></v-progress-linear>
            <p class="text-center">Procesando</p>
        </div>
        <v-list v-if="!load">
            <v-spacer></v-spacer>
            <div class="row">
                <div class="col-md-6">
                    <v-text-field
                            append-icon="search"
                            label="Buscar"
                            single-line
                            hide-details
                            v-model="search"
                    ></v-text-field>
                </div>
            </div>
            <br>
            <v-data-table
                    :headers="headers"
                    :items="items"
                    class="elevation-1"
                    :search="search"
                    no-results-text="No se encuentra esta persona"
                    no-data-text="Sin Personas"
                    :rows-per-page-items = '[25,50,100,{"text":"All","value":-1}]'
                    rows-per-page-text="Registros por pagina"
            >
                <template slot="items" slot-scope="props">
                    <!--<td>{{ props.item.id }}</td>
                    <td class="">{{ props.item.descripcion }}</td>-->
                    <td >{{ props.item.nombre}} {{ props.item.apellido}}</td>
                    <td >{{ props.item.CI}}</td>
                    <td >{{ props.item.email?props.item.email:'S/E'}}</td>
                    <td >{{ props.item.telf ?props.item.telf :'S/T' }}</td>
                    <td >{{ props.item.direccion ?props.item.direccion :'S/D' }}
                    <!--<td >{{ props.item.idestatus}}</td>-->
                    <td class=" layout px-0">
                        <v-btn icon class="mx-0" @click="editItem(props.item)">
                            <v-icon color="accent">edit</v-icon>
                        </v-btn>
                        <v-btn icon class="mx-0" @click="deleteItem(props.item)">
                            <v-icon color="pink">delete</v-icon>
                        </v-btn>
                    </td>
                </template>
                <template slot="no-data">
                    <v-btn color="primary" class="btn2 btn-w accent" @click="initialize">Refrescar</v-btn>
                </template>
            </v-data-table>
        </v-list>
    </div>
</template>
<script>
    export default { 
        props:['valores','tipo','fabricante','categ','cl','fr','r','es','pais'],
        data: () => ({
            dialog: false,
            header: [
                {
                    text: 'Codigo',
                    align: 'left',
                    sortable: false,
                    value: 'id'
                },
                { text: 'Descripcion', value: 'descripcion' },
                { text: 'Actions', value: 'name', sortable: false }
            ],
            headers: [
                { text: 'Nombre', value: 'nombre' },
                { text: 'Documento de identidad', value: 'CI' },
                { text: 'Email', value: 'email' },
                { text: 'Telefono', value: 'telf' },
                { text: 'Direccion', value: 'direccion' },
                /*{ text: 'Estatus', value: '' },*/
                { text: 'Actions', value: 'name', sortable: false }
            ],
            search: '',
            items: [],
            estado:[],
            ciudad:[],
            genero:[
                {text:'Femenino', value:'F'},
                {text:'Masculino', value:'M'}
            ],
            load:'',
            action:'add',
            editedIndex: -1,
            editedItem: {
                nombre:'',
                apellido:'',
                tipo:'',
                CI:'',
                email:'',
                telf:'',
                direccion:'',
                genero:'',
                //cliente
                especialidad:'',
                clase:'',
                ranking:'',
                frecuencia:'',
                //mayorista
                descuento:'',
                //RFV/SUP
                username:'',
                password:'',
                ciclo:'',
                supervisor:'',
                //localizacion
                pais:'',
                estado:'',
                ciudad:'',
            },
            defaultItem: {
                nombre:'',
                apellido:'',
                tipo:'',
                CI:'',
                email:'',
                telf:'',
                direccion:'',
                genero:'',
                //cliente
                especialidad:'',
                clase:'',
                ranking:'',
                frecuencia:'',
                //mayorista
                descuento:'',
                //RFV/SUP
                username:'',
                password:'',
                ciclo:'',
                supervisor:'',
                //localizacion
                pais:'',
                estado:'',
                ciudad:'',
            }
        }),

        computed: {
            formTitle () {
                return this.editedIndex === -1 ? 'Agregar' : 'Editar'
            }
        },

        watch: {
            dialog (val) {
                val || this.close()
            }
        },

        created () {
            this.initialize()
        },
        beforeMount: function () {
            axios.post('/services/Admin/personas',{'tipo':this.categ,'fabricante': this.fabricante})
                .then((res)=>{
                    this.items=res.data;
                    this.load= false;
                },(error)=>{
                    this.load = false;
                })
        },
        methods: {
            initialize () {
                this.items = this.valores;
            },

            editItem (item) {
                    this.editedIndex = this.items.indexOf(item),
                    this.editedItem = Object.assign({}, item),
                    this.dialog = true,
                    this.action='upd'

                    for(let i=0; i<this.pais.length; i++){
                         if(this.pais[i].idpais==this.editedItem.pais){
                             this.editedItem.pais=this.pais[i]; 
                            break; }
                           //  console.log(this.editedItem.pais)
                    }
                    
                     this.buscaestado()
                   for(let i=0; i<this.estado.length; i++){
                       if(this.estado[i].idestado==this.editedItem.estado){
                          this.editedItem.estado=this.estado[i].idestado;
                          this.buscaciudad();
                          this.editedItem.estado=this.estado[i];
                          break; 
                        
                        }

                         // this.buscaciudad()
                   for(let i=0; i<this.ciudad.length; i++){
                        if(this.ciudad[i].idCiudad==this.editedItem.ciudad){
                           this.editedItem.ciudad=this.ciudad[i]; break;}

                          // console.log(this.editedItem.ciudad)
                   }

                       //   console.log(this.editedItem.estado)
                   }
                      
            },

            deleteItem (item) {
                const index = this.items.indexOf(item);
                confirm('Estas seguro que quieres anular este objeto') && this.deleteData(index)

            },
            deleteData(id){
                let process=this.categ.toLowerCase();
                axios.post('/services/persona/del',{
                    "id":this.items[id].CI,
                    "fabricante":this.fabricante,
                    "categoria":this.categ
                })
                    .then((res)=>{
                        this.items.splice(id, 1);
                    });
            },
            close () {
                this.dialog = false;
                this.action='add';
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem);
                    this.editedIndex = -1
                }, 300)
            },
            addItem(item){

                if (this.editedIndex > -1) {
                    Object.assign(this.items[this.editedIndex], item)

                } else {
                    this.items.push(item)
                }

            },
            save () {
                var frec,rank,clas,esp,tipo,sup,ciclo,pais,ciudad,estado;
                let process=this.categ.toLowerCase();

                tipo=this.editedItem.tipo;
                esp=this.editedItem.especialidad;
                clas=this.editedItem.clase;
                rank=this.editedItem.ranking;
                frec=this.editedItem.frecuencia;
                sup=this.editedItem.supervisor;
                ciclo=this.editedItem.ciclo;
                pais=this.editedItem.pais;
                ciudad=this.editedItem.ciudad;
                estado=this.editedItem.estado;

                if(tipo && this.editedItem.tipo.id){
                    tipo=this.editedItem.tipo.id;
                }
                if(esp && this.editedItem.especialidad.id){
                    esp=this.editedItem.especialidad.id;
                }
                if(clas && this.editedItem.clase.id){
                    clas=this.editedItem.clase.id;
                }
                if(rank && this.editedItem.ranking.id){
                    rank=this.editedItem.ranking.id;
                }
                if(frec && this.editedItem.frecuencia.idfrecuencia){
                    frec=this.editedItem.frecuencia.idfrecuencia;
                }
                if(sup && this.editedItem.supervisor.idPersona){
                    sup=this.editedItem.supervisor.idPersona;
                }
                if(ciclo && this.editedItem.ciclo.id){
                    ciclo=this.editedItem.ciclo.id;
                }

                if(pais && this.editedItem.pais.idpais){
                    pais=this.editedItem.pais.idpais;
                }
                if(ciudad && this.editedItem.ciudad.idCiudad){
                    ciudad=this.editedItem.ciudad.idCiudad;
                }
                if(estado && this.editedItem.estado.idestado){
                    estado=this.editedItem.estado.idestado;
                }
                  
                axios.post('/services/persona/'+this.action,{
                    "nombre":this.editedItem.nombre,
                    "apellido":this.editedItem.apellido,
                    "tipo":tipo,
                    "CI":this.editedItem.CI,
                    "email":this.editedItem.email,
                    "telf":this.editedItem.telf,
                    "direccion":this.editedItem.direccion,
                    "genero":this.editedItem.genero,
                    "especialidad":esp,
                    "clase":clas,
                    "ranking":rank,
                    "frecuencia":frec,
                    "descuento":this.editedItem.descuento,
                    "username":this.editedItem.username,
                    "password":this.editedItem.password,
                    "ciclo":ciclo,
                    "supervisor":sup,
                    "pais":pais,
                    "estado":estado,
                    "ciudad":ciudad,
                    "categoria":this.categ,
                    "fabricante":this.fabricante
                })
                    .then((res)=>{
                        if(res.status==200){
                         this.items=res.data;
                        // this.addItem(this.editedItem);
                        }
                         this.close();
                    });
            },
            buscaestado(){
                axios.post('/services/pais',{'pais':this.editedItem.pais.idpais})
                    .then((res)=>{
                        this.estado=res.data;
                    },(error)=>{

                    })
            },
            buscaciudad(){
                axios.post('/services/estado',{'estado':this.editedItem.estado})
                    .then((res)=>{
                        this.ciudad=res.data;
                    },(error)=>{

                    })
            },
        }
    }
</script>

<style >
    .btn2{
        padding: 0 !important;
    }

</style>