<template>
  <div>
    <div class="row justify-content-center pt-3 border border-dark rounded">
                <div class="col-sm-6 col-md-3">
                    <v-menu
                            ref="menuD"
                            lazy
                            :close-on-content-click="false"
                            v-model="menuD"
                            transition="scale-transition"
                            offset-y
                            full-width
                            :nudge-right="40"
                            min-width="290px"
                            :return-value.sync="dateD"
                    >
                        <v-text-field
                                slot="activator"
                                label="Fecha desde"
                                v-model="dateD"
                                prepend-icon="event"
                                readonly
                                name="dateD"
                        ></v-text-field>
                        <v-date-picker 
                          v-model="dateD" 
                          no-title scrollable locale="es-ES" 
                          @change="$refs.menuD.save(dateD)"
                          :max="new Date().toISOString().substr(0, 10)"
                          >

                        </v-date-picker>
                    </v-menu>
                </div>
                <div class="col-sm-6 col-md-3">
                    <v-menu
                            ref="menuH"
                            lazy
                            :close-on-content-click="false"
                            v-model="menuH"
                            transition="scale-transition"
                            offset-y
                            full-width
                            :nudge-right="40"
                            min-width="290px"
                            :return-value.sync="dateH"
                    >
                        <v-text-field
                                slot="activator"
                                label="Fecha hasta"
                                v-model="dateH"
                                prepend-icon="event"
                                readonly
                                name="dateH"
                        ></v-text-field>
                        <v-date-picker 
                        v-model="dateH" 
                        no-title scrollable 
                        locale="es-ES" 
                        @change="$refs.menuH.save(dateH)"
                        :max="new Date().toISOString().substr(0, 10)"
                        >
                        </v-date-picker>
                    </v-menu>
                </div>
                <div class="col-sm-6 col-md-3 md-form">
                    <v-text-field
                            label="RFV"
                            :value="rfv.nombre_completo_razon_social"
                            disabled
                            v-if="userline"
                        ></v-text-field>
                    <v-select
                      v-bind:items="rfv"
                      label="RFV"
                      item-text="nombre_completo_razon_social"
                      item-value="idPersona"
                      return-object
                      multiple
                      chips
                      dense
                      clearable
                      v-model="user"
                      v-if="!userline"
                  ></v-select>
                </div>
    </div>
    <div class="row my-4">
        <div class="col-4 row justify-content-center">
          <v-btn
            color="accent"
            class="white-text pt-1"
            round
            @click="activevisita()"
            :disabled="Module.visita"
            >
            Visitas
          <v-icon right dark>remove_red_eye</v-icon>
          </v-btn>
        </div>
        <div class="col-4 row justify-content-center">
          <v-btn
            color="accent"
            class="white-text pt-1"
            round
            @click="activeorden()"
            :disabled="Module.orden"
            >
            Ordenes
          <v-icon right dark>receipt</v-icon>
          </v-btn>
        </div>
        <div class="col-4 row justify-content-center">
          <v-btn
            color="accent"
            class="white-text pt-1"
            round
            @click="activefactura()"
            :disabled="Module.factura"
            >
            Facturas
          <v-icon right dark>content_paste</v-icon>
          </v-btn>
        </div>
    </div>
    <div class="row" v-if="Module.visita">
      <div class="col">
        <p class="h4">Reportes de visitas.</p>
      </div>
      <div class="col-12">
        <div class="row border border-dark rounded">
          <div class="col-sm-6 col-md-3 md-form">
              <v-select
                  v-bind:items="rankings"
                  label="Ranking"
                  item-text="descripcion_ranking_cliente"
                  item-value="id"
                  return-object
                  dense
                  multiple
                  chips
                  single-line
                  no-data-text="No habilitado"
                  clearable
                  v-model="ranking"
              ></v-select>
          </div>
          <div class="col-sm-6 col-md-3 md-form">
              <v-select
                  v-bind:items="especialidades"
                  label="Especialidad"
                  item-text="descripcion_especialidad"
                  item-value="id"
                  return-object
                  dense
                  multiple
                  chips
                  single-line
                  no-data-text="No habilitado"
                  clearable
                  v-model="especialidad"
              ></v-select>
          </div>
          <div class="col-sm-6 col-md-3 md-form">
              <v-select
                  v-bind:items="actividades"
                  label="Actividad"
                  item-text="descripcion_tipo_actividades"
                  item-value="idtipo_actividades"
                  return-object
                  dense
                  multiple
                  chips
                  single-line
                  no-data-text="No habilitado"
                  clearable
                  v-model="actividad"
              ></v-select>
          </div>
          <div class="col-sm-6 col-md-3 md-form">
              <v-select
                  v-bind:items="eventos"
                  label="Eventos"
                  item-text="descripcion_tipo_incidentes"
                  item-value="idtipo_incidentes"
                  return-object
                  multiple
                  chips
                  dense
                  single-line
                  no-data-text="No habilitado"
                  clearable
                  v-model="evento"
              ></v-select>
          </div>
          <div class="col-sm-6 col-md-3 md-form">
              <v-select
                  v-bind:items="zonas"
                  label="Zona"
                  item-text="descripcion_zona"
                  item-value="idzona"
                  return-object
                  dense
                  multiple
                  chips
                  single-line
                  no-data-text="No habilitado"
                  clearable
                  v-model="zona"
              ></v-select>
          </div>
          <div class="col-sm-6 col-md-3 md-form">
              <v-select
                  v-bind:items="rutas"
                  label="Ruta"
                  item-text="Descripcion"
                  item-value="idbrick"
                  return-object
                  dense
                  multiple
                  chips
                  single-line
                  no-data-text="No habilitado"
                  clearable
                  v-model="ruta"
              ></v-select>
          </div>
          <div class="col-sm-12 col-md-6  align-self-center">
            <v-btn
              color="siif"
              class="white-text float-right pt-1 px-2"
              :loading="loadingv"
              @click="consultaReporte()"
              >
              Consultar
              <v-icon right dark>search</v-icon>
            </v-btn>
          </div>  
        </div>
      </div>
      <div class="col-12 mt-3">
            <v-data-table
                    :headers="headerreportes"
                    :items="reportes"
                    class="table-bordered table-responsive"
                    id="table"
                    no-data-text="Sin Reportes"
                    :rows-per-page-items='[15,25,50,{"text":"All","value":-1}]'
                    rows-per-page-text="Registros por pagina"
            >
                <template slot="items" slot-scope="props">
                    <td>{{ props.item.reporte}}</td>
                    <td>{{ props.item.RFV}}</td>
                    <td >{{ props.item.cliente}}</td>
                    <td >{{ props.item.zona}}</td>
                    <td >{{ props.item.ruta}}</td>
                    <td >{{ props.item.ciudad}}</td>
                    <td >{{ props.item.estado}}</td>
                    <td >{{ props.item.fecha }}</td>
                    <td >{{ props.item.actividad }}</td>
                    <td >{{ props.item.especialidadCliente }}</td>
                    <td >{{ props.item.rankingCliente }}</td>
                    <td >{{ props.item.observaciones?props.item.observaciones:"S/C"}}</td>
                </template>
                <template slot="pageText" slot-scope="props">
                  {{ props.pageStart }} - {{ props.pageStop }} de {{ props.itemsLength }}
                </template>
                <template slot="footer">
                  <td colspan="100%">
                     <div class="row">
                        <div class="col-sm-12 justify-content-start d-flex">
                          <v-subheader>Descargar como:</v-subheader>
                          <v-btn
                            color="red"
                            icon
                            small
                            :loading="loadingvp"
                            @click="pdf('r','Reportes')"
                            >
                              <v-icon dark class="btn-w">fa-file-pdf</v-icon>
                          </v-btn>
                          <download-excel
                              :data   = "reportes"
                              :fields = "xlsreporte"
                              name    = "Busqueda_Visitas.xls"
                              type="xls"
                              >
                              <v-btn
                                color="green"
                                icon
                                small
                                >
                                  <v-icon class="btn-w">fa-file-excel</v-icon>
                              </v-btn>
                          </download-excel>
                          
                        </div>
                    </div>
                  </td>
                </template>
            </v-data-table>
            <div class="mt-2">
              <h5>Muestras Entregadas:</h5>
            </div>
              <v-data-table
                      :headers="headermateriales"
                      :items="materiales"
                      class="table-bordered table-responsive"
                      id="table"
                      no-data-text="Sin Materiales"
                      :rows-per-page-items='[15,25,50,{"text":"All","value":-1}]'
                      rows-per-page-text="Registros por pagina"
              >
                  <template slot="items" slot-scope="props">
                      <td>{{ props.item.Reporte}}</td>
                      <td>{{ props.item.Material}}</td>
                      <td>{{ props.item.cliente}}</td>
                      <td>{{ props.item.estado}}</td>
                      <td>{{ props.item.ciudad}}</td>
                      <td>{{ props.item.zona}}</td>
                      <td>{{ props.item.ruta}}</td>
                      <td>{{ props.item.Cantidad}}</td>
                      <td>{{ props.item.Lote}}</td>
                  </template>
                  <template slot="pageText" slot-scope="props">
                      {{ props.pageStart }} - {{ props.pageStop }} de {{ props.itemsLength }}
                  </template>
                  <template slot="footer">
                      <td colspan="100%">
                          <div class="row">
                              <div class="col-sm-4 d-flex">
                                  <v-subheader>Descargar como:</v-subheader>
                                  <v-btn
                                          color="red"
                                          icon
                                          small
                                          :loading="loadingm"
                                          @click="pdf('m','Materiales')"
                                  >
                                      <v-icon dark class="btn-w">fa-file-pdf</v-icon>
                                  </v-btn>
                                  <download-excel
                                          :data   = "materiales"
                                          :fields = "xlsmateriales"
                                          name    = "Busqueda_Materiales.xls"
                                          type="xls"
                                  >
                                      <v-btn
                                              color="green"
                                              icon
                                              small
                                      >
                                          <v-icon class="btn-w">fa-file-excel</v-icon>
                                      </v-btn>
                                  </download-excel>

                              </div>
                          </div>
                      </td>
                  </template>
              </v-data-table>
      </div>
    </div>
    <div class="row" v-if="Module.orden">
      <div class="col">
        <p class="h4">Reportes de ordenes.</p>
      </div>
        <div class="col-12">
          <div class="row border border-dark rounded">
            <div class="col-sm-6 col-md-3 md-form">
                <v-select
                    v-bind:items="estatusorden"
                    label="Estatus"
                    item-text="descripcion"
                    item-value="idestatus"
                    return-object
                    dense
                    multiple
                    chips
                    single-line
                    no-data-text="No habilitado"
                    clearable
                    v-model="eorden"
                ></v-select>
            </div>
            <div class="col-sm-6 col-md-3 md-form">
                <v-select
                    v-bind:items="mayoristas"
                    label="Mayorista"
                    item-text="nombre_completo_razon_social"
                    item-value="idPersona"
                    return-object
                    dense
                    multiple
                    chips
                    single-line
                    no-data-text="No habilitado"
                    clearable
                    v-model="mayorista"
                ></v-select>
            </div>
            <div class="col-sm-12 col-md-6  align-self-center">
              <v-btn
                color="siif"
                class="white-text float-right pt-1 px-2"
                :loading="loadingo"
                @click="consultaorden()"
              >
                Consultar
                <v-icon right dark>search</v-icon>
              </v-btn>
            </div> 
          </div>
        </div>
        <div class="col-12 mt-3">
          <v-data-table
                    :headers="headerordenes"
                    :items="ordenes"
                    class="table-bordered table-responsive"
                    id="table"
                    no-data-text="Sin ordenes"
                    :rows-per-page-items='[15,25,50,{"text":"All","value":-1}]'
                    rows-per-page-text="Registros por pagina"
            >
                <template slot="items" slot-scope="props">
                    <td>{{ props.item.nOrden}}</td>
                    <td>{{ props.item.persona}}</td>
                    <td >{{ props.item.cliente}}</td>
                    <td >{{ props.item.fecha }}</td>
                    <td >{{ props.item.ciudad}}</td>
                    <td >{{ props.item.estado}}</td>
                    <td >{{ props.item.mayoristas}}</td>
                    <td >{{ props.item.unidades}}</td>
                    <td >{{ props.item.totalOrden.toLocaleString()}}</td>
                    <td >{{ props.item.estatus}}</td>
                </template>
                <template slot="pageText" slot-scope="props">
                  {{ props.pageStart }} - {{ props.pageStop }} de {{ props.itemsLength }}
                </template>
                <template slot="footer">
                  <td colspan="100%">
                     <div class="row">
                         <div class="col-sm-4 d-flex">
                             <v-subheader>Descargar como:</v-subheader>
                             <v-btn
                                     color="red"
                                     icon
                                     small
                                     :loading="loadingop"
                                     @click="pdf('o','Ordenes')"
                             >
                                 <v-icon dark class="btn-w">fa-file-pdf</v-icon>
                             </v-btn>
                             <download-excel
                                     :data   = "ordenes"
                                     :fields = "xlsordenes"
                                     name    = "Busqueda_Ordenes.xls"
                                     type="xls"
                             >
                                 <v-btn
                                         color="green"
                                         icon
                                         small
                                 >
                                     <v-icon class="btn-w">fa-file-excel</v-icon>
                                 </v-btn>
                             </download-excel>

                         </div>
                        <div class="col-sm-4 md-form">
                            <v-subheader>Total Unidades: {{ cantidad.toLocaleString() }} </v-subheader>
                        </div>
                        <div class="col-sm-4 md-form">
                            <v-subheader>Total Montos: {{ total.toLocaleString() }}</v-subheader>
                        </div>
                    </div>
                  </td>
                </template>
            </v-data-table>
            <div class="my-2">
              <h5>Estadisticas de Productos:</h5>
            </div>
            <v-data-table
                    :headers="headerproducto"
                    :items="productos"
                    class="table-bordered table-responsive md"
                    id="table2"
                    no-data-text="Sin Productos"
                    :rows-per-page-items='[15,25,50,{"text":"All","value":-1}]'
                    rows-per-page-text="Registros por pagina"
            >
                <template slot="items" slot-scope="props">
                    <td>{{ props.item.Nombre}}</td>
                    <td>{{ props.item.Mayorista}}</td>
                    <td> {{ props.item.Solicitado.toLocaleString()}}</td>
                    <td >{{ props.item.Monto_Solicitado.toLocaleString()}}</td>
                    <td >{{ props.item.Conciliado?props.item.Conciliado.toLocaleString():0}}</td>
                    <td >{{ props.item.Monto_Conciliado?props.item.Monto_Conciliado.toLocaleString():0}}</td>
                    <td >{{ props.item.Faltante?props.item.Faltante.toLocaleString():0}}</td>
                    <td >{{ props.item.Monto_Faltante?props.item.Monto_Faltante.toLocaleString():0}}</td>
                </template>
                <template slot="pageText" slot-scope="props">
                  {{ props.pageStart }} - {{ props.pageStop }} de {{ props.itemsLength }}
                </template>
                <template slot="footer">
                  <td colspan="100%">
                     <div class="row">
                        <div class="col-sm-4 d-flex">
                          <v-subheader>Descargar como:</v-subheader>
                          <v-btn
                            color="red"
                            icon
                            small
                            :loading="loadingpp"
                            @click="pdf('p','Productos')"
                            >
                              <v-icon dark class="btn-w">fa-file-pdf</v-icon>
                          </v-btn>
                          <download-excel
                              :data   = "productos"
                              :fields = "xlsproducto"
                              name    = "Busqueda_Productos.xls"
                              type="xls"
                              >
                              <v-btn
                                color="green"
                                icon
                                small
                                >
                                  <v-icon class="btn-w">fa-file-excel</v-icon>
                              </v-btn>
                          </download-excel>
                          
                        </div>
                    </div>
                  </td>
                </template>
            </v-data-table>
        </div>
    </div>
    <div class="row" v-if="Module.factura">
      <div class="col">
        <p class="h4">Reportes de facturas.</p>
      </div>
      <div class="col-12">
          <div class="row border border-dark rounded">
            <div class="col-sm-6 col-md-3 md-form">
                <v-select
                    v-bind:items="estatusfacturas"
                    label="Estatus"
                    item-text="text"
                    item-value="id"
                    return-object
                    dense
                    multiple
                    chips
                    single-line
                    no-data-text="No habilitado"
                    clearable
                    v-model="efactura"
                ></v-select>
            </div>
            <div class="col-sm-6 col-md-9 align-self-center">
              <v-btn
                color="siif"
                class="white-text float-right pt-1 px-2"
                :loading="loadingf"
                @click="consultafactura()"
              >
                Consultar
                <v-icon right dark>search</v-icon>
              </v-btn>
            </div>
          </div>
      </div>
      <div class="col-12 mt-3">
        <v-data-table
                    :headers="headerfacturas"
                    :items="facturas"
                    class="table-bordered table-responsive"
                    id="table"
                    no-data-text="Sin facturas"
                    :rows-per-page-items='[15,25,50,{"text":"All","value":-1}]'
                    rows-per-page-text="Registros por pagina"
            >
                <template slot="items" slot-scope="props">
                    <td>{{ props.item.id}}</td>
                    <td>{{ props.item.RFV}}</td>
                    <td >{{ props.item.cliente}}</td>
                    <td >{{ props.item.fecha }}</td>
                    <td >{{ props.item.ciudad}}</td>
                    <td >{{ props.item.estado}}</td>
                    <td >{{ props.item.pagado }}</td>
                    <td >{{ props.item.faltante }}</td>
                    <td >{{ props.item.monto.toLocaleString()}}</td>
                </template>
                <template slot="pageText" slot-scope="props">
                  {{ props.pageStart }} - {{ props.pageStop }} de {{ props.itemsLength }}
                </template>
                <template slot="footer">
                  <td colspan="100%">
                     <div class="row">
                         <div class="col-sm-4 d-flex">
                             <v-subheader>Descargar como:</v-subheader>
                             <v-btn
                                     color="red"
                                     icon
                                     small
                                     :loading="loadingfp"
                                     @click="pdf('f','Facturas')"
                             >
                                 <v-icon dark class="btn-w">fa-file-pdf</v-icon>
                             </v-btn>
                             <download-excel
                                     :data   = "facturas"
                                     :fields = "xlsfacturas"
                                     name    = "Busqueda_Facturas.xls"
                                     type="xls"
                             >
                                 <v-btn
                                         color="green"
                                         icon
                                         small
                                 >
                                     <v-icon class="btn-w">fa-file-excel</v-icon>
                                 </v-btn>
                             </download-excel>

                         </div>
                        <div class="col-sm-4 md-form">
                            <v-subheader>Total Unidades: {{ cantidadf.toLocaleString() }} </v-subheader>
                        </div>
                        <div class="col-sm-4 md-form">
                            <v-subheader>Total Montos: {{ totalf.toLocaleString() }}</v-subheader>
                        </div>
                    </div>
                  </td>
                </template>
            </v-data-table>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props: {
      rankings: {
        type: Array,
        default: function () {
          return []
        }
      },
      especialidades: {
        type: Array,
        default: function () {
          return []
        }
      },
      actividades: {
        type: Array,
        default: function () {
          return []
        }
      },
      eventos: {
        type: Array,
        default: function () {
          return []
        }
      },
      zonas: {
        type: Array,
        default: function () {
          return []
        }
      },
      rutas: {
        type: Array,
        default: function () {
          return []
        }
      },
      estatusorden: {
        type: Array,
        default: function () {
          return []
        }
      },
      mayoristas: {
        type: Array,
        default: function () {
          return []
        }
      },
      estatusfacturas: {
        type: Array,
        default: function () {
          return [
                {id:4,text:'Pendientes'},
                {id:5,text:'Parcial'},
                {id:6,text: 'Enviada Total'},
                {id:7,text: 'Anulada'},
                {id:8,text: 'Pagada'}
            ]
        }
      },
      rfv : {
      }
    },
    data () {
      return {
        menuH: null,
        menuD:null,
        dateD:new Date().toISOString().substr(0, 10),
        dateH:new Date().toISOString().substr(0, 10),
        Module : {
          visita: false,
          orden: false,
          factura: false
        },
        user:null,
        userline:false,
        loadingv:false,
        loadingo:false,
        loadingf:false,
        loadingfp:false,
        loadingop:false,
        loadingvp:false,
        loadingpp:false,
        loadingm: false,
        reportes:[],
        ordenes:[],
        facturas:[],
        productos:[],
        materiales:[],
        ranking:null,
        actividad:null,
        especialidad:null,
        evento:null,
        zona:null,
        ruta:null,
        eorden:null,
        efactura:null,
        mayorista:null,
        cantidad:0,
        total:0,
        cantidadf:0,
        totalf:0,
        headerreportes : [
                    { text: 'Nº', value: 'reporte'},
                    { text: 'RFV',value: 'RFV'},
                    { text: 'Cliente', value: 'cliente' },
                    { text: 'Zona', value:'zona'},
                    { text: 'Ruta', value: 'ruta'},
                    { text: 'Ciudad', value: 'ciudad'},
                    { text: 'Estado', value: 'estado'},
                    { text: 'Fecha', value: 'fecha' },
                    { text: 'Actividad', value: 'actividad' },
                    { text: 'Especialidad', value: 'especialidadCliente' },
                    { text: 'Ranking', value: 'rankingCliente' },
                    { text: 'Comentarios', value: 'observaciones' },
                    //{ text: 'Accion', value: '  ' },
                ],

        headerordenes : [
                    { text: 'Nº', value: 'nOrden'},
                    { text: 'RFV',value: 'persona'},
                    { text: 'Cliente', value: 'cliente' },
                    { text: 'Fecha', value: 'fecha' },
                    { text: 'Ciudad', value: 'ciudad'},
                    { text: 'Estado', value: 'estado'},
                    { text: 'Mayorista', value: 'mayoristas'},
                    { text: 'Unidades', value: 'unidades' },
                    { text: 'Valor', value: 'totalOrden' },
                    { text: 'Estatus', value: 'estatus' },
                    //{ text: 'Accion', value: '  ' },
                ],
        headerfacturas : [
                    { text: 'Nº', value: 'id'},
                    { text: 'RFV',value: 'RFV'},
                    { text: 'Cliente', value: 'cliente' },
                    { text: 'Fecha', value: 'fecha' },
                    { text: 'Ciudad', value: 'ciudad'},
                    { text: 'Estado', value: 'estado'},
                    { text: 'Unidades', value: 'pagado' },
                    { text: 'Fallas', value: 'faltante' },
                    { text: 'Monto', value: 'monto' },
                    //{ text: 'Accion', value: '  ' },
                ],
        headerproducto : [
                    { text: 'Producto',value: 'Nombre'},
                    { text: 'Mayorista', value: 'Mayorista' },
                    { text: 'Solicitado', value: 'Solicitado' },
                    { text: 'Monto Solicitado', value: 'Monto_Solicitado'},
                    { text: 'Conciliadas', value: 'Conciliado'},
                    { text: 'Monto conciliado.', value: 'Monto_Conciliado' },
                    { text: 'Fallas', value: 'Faltante' },
                    { text: 'Monto Falla.', value: 'Monto_Faltante' },
                    //{ text: 'Accion', value: '  ' },
                ],
          headermateriales : [
              { text: 'Reportes',value: 'Reporte'},
              { text: 'Materiales',value: 'Material'},
              { text: 'Cliente', value: 'cliente'},
              { text: 'Estado', value: 'estado'},
              { text: 'Ciudad', value: 'ciudad'},
              { text: 'Zona', value: 'zona'},
              { text: 'Ruta', value: 'ruta'},
              { text: 'Cantidad', value: 'Cantidad' },
              { text: 'Lote', value: 'Lote' },

              //{ text: 'Accion', value: '  ' },
          ],
        xlsordenes : {
                'Nº Orden':'nOrden',
                'RFV': 'persona',
                'Cliente': 'cliente',
                'Ciudad':'ciudad',
                'Estado':'estado',
                'Fecha': 'fecha' ,
                'Mayorista': 'mayoristas' ,
                'Valor':'totalOrden',
            },
        xlsfacturas : {
                'Nº Factura':'id',
                'RFV': 'RFV',
                'Cliente': 'cliente',
                'Ciudad':'ciudad',
                'Estado':'estado',
                'Fecha': 'fecha' ,
                'Unidades': 'pagado',
                'Fallas':'faltante',
                'Monto':'monto',
            },
        xlsreporte: {
                'Reporte':'reporte',
                'RFV': 'RFV',
                'Cliente': 'cliente',
                'Zona':'zona',
                'Ruta':'ruta',
                'Ciudad':'ciudad',
                'Estado':'estado',
                'Fecha': 'fecha' ,
                'Actividad': 'actividad',
                'Especialidad': 'especialidadCliente',
                'Ranking': 'rankingCliente',
                'Comentarios': 'observaciones' ,
            },
        xlsproducto : {
                    'Producto': 'Nombre',
                    'Mayorista': 'Mayorista',
                    'Solicitado': 'Solicitado',
                    'Monto Solicitado': 'Monto_Solicitado',
                    'Conciliadas': 'Conciliado',
                    'Monto Conciliadas': 'Monto_Conciliado',
                    'Fallas': 'Faltante',
                    'Monto Fallas': 'Monto_Faltante'
        },
          xlsmateriales : {
               'Reporte':'Reporte',
               'Material': 'Material',
              'Cliente': 'cliente',
              'Estado': 'estado',
              'Ciudad': 'ciudad',
              'Zona': 'zona',
              'Ruta': 'ruta',
               'Cantidad': 'Cantidad',
               'Lote': 'Lote',
          }
      }
    },
    watch : {
        dateD (val) {
            if(this.dateH && val)
            {
              let a= new Date(val);
              let b=new Date(this.dateH);
              if(a.getTime() > b.getTime())
                this.dateD = this.dateH;
            }
        },
        dateH (val) {
            if(this.dateD && val)
            {
              let a= new Date(val);
              let b=new Date(this.dateD);
              if(a.getTime() < b.getTime())
                this.dateH = this.dateD;
            }
        }
    },
    beforeMount : function (){
      if(this.rfv instanceof Array)
      {
        this.userline=false;
      }
      else if(this.rfv instanceof Object)
      {
        this.user=this.rfv;
        this.userline=true;
      }
    },
    methods : {
      activevisita() {
        this.Module.orden=false;
        this.Module.factura=false;
        this.Module.visita=true;
      },
      activeorden() {
        this.Module.visita=false;
        this.Module.factura=false;
        this.Module.orden=true;
      },
      activefactura() {
        this.Module.visita=false;
        this.Module.orden=false;
        this.Module.factura=true;
      },
      consultaReporte(){
        let data = {
                'fechaInicio':this.dateD,
                'fechaFin':this.dateH,
                'rfv': this.user,
                'ranking':this.ranking,
                'actividad':this.actividad,
                'incidente':this.evento,
                'zona':this.zona,
                'brick':this.ruta,
                'especialidad':this.especialidad
        };
        this.loadingv=true;
        axios.post('/services/reporte',data)
          .then((res)=>{
            for(let a in res.data.reportes){
              let zona = this.zonas.find(o => {if(o.idzona==res.data.reportes[a].zona)return true;});
              if(zona) res.data.reportes[a].zona = zona.descripcion_zona;
              let brick = this.rutas.find(o => {if(o.idbrick==res.data.reportes[a].ruta)return true;});
              if(brick) res.data.reportes[a].ruta = brick.Descripcion;
              let act = this.actividades.find(o => {if(o.idtipo_actividades==res.data.reportes[a].actividad)return true;});
              if(act) res.data.reportes[a].actividad = act.descripcion_tipo_actividades;
              let even = this.eventos.find(o => {if(o.idtipo_incidentes==res.data.reportes[a].incidente)return true;});
              if(even) res.data.reportes[a].incidentes = even.descripcion_tipo_incidentes;
              let esp = this.especialidades.find(o => {if(o.id==res.data.reportes[a].especialidadCliente)return true;});
              if(esp) res.data.reportes[a].especialidadCliente =esp.descripcion_especialidad;
              let rk = this.rankings.find(o => {if(o.id==res.data.reportes[a].rankingCliente)return true;});
              if(rk) res.data.reportes[a].rankingCliente = rk.descripcion_ranking_cliente;
            }
            this.reportes=res.data.reportes;
              for (let a in res.data.materiales){
                  let r= this.reportes.find(o=>{if(o.reporte==res.data.materiales[a].Reporte) return true});
                  if(r) {
                      res.data.materiales[a].zona = r.zona;
                      res.data.materiales[a].ruta = r.ruta;
                      res.data.materiales[a].ciudad = r.ciudad;
                      res.data.materiales[a].estado = r.estado;
                      res.data.materiales[a].cliente = r.cliente;
                  }
              }
            this.materiales=res.data.materiales;
            this.loadingv=false;
          },(error)=>{
            this.loadingv=false;
        })
      },
      consultaorden(){
        let data = {
          'fechaInicio':this.dateD,
          'fechaFin':this.dateH,
          'rfv': this.user,
          'estatus': this.eorden,
          'mayorista': this.mayorista
            }
        this.loadingo=true;
        axios.post('/services/consultaOrden',data)
          .then((res)=>{
              for(let a in res.data.productos) {
                  let mayorista = this.mayoristas.find(o => {if(o.idPersona==res.data.productos[a].Mayorista)return true;});
                  if(mayorista) res.data.productos[a].Mayorista = mayorista.nombre_completo_razon_social;
              }
            this.loadingo=false;
            this.ordenes=res.data.ordenes?res.data.ordenes:[];
            this.productos=res.data.productos?res.data.productos:[];
            this.total=0;
            this.cantidad=0;
            for(let index of this.ordenes)
            {
              this.total+=index.totalOrden;
              this.cantidad+=index.unidades;
            } 
          },(error)=>{
            this.loadingo=false;
        })
      },
      consultafactura(){
          let data = {
                'fechaInicio':this.dateD,
                'fechaFin':this.dateH,
                'rfv': this.user,
                'estatus': this.efactura
          }
          this.loadingf=true;
          axios.post('/services/consultaFactura',data)
                .then((res)=>{
                        this.facturas=res.data.facturas?res.data.facturas:[];
                        this.totalf=0;
                        this.cantidadf=0;
                        for(let index of this.facturas)
                        {
                            this.totalf+=index.monto;
                            this.cantidadf+=index.pagado;
                        }
                        this.loadingf=false;
                },(error)=>{
                  this.loadingf=false;

                })
      },
      pdf(data,title){
            var cabecera;
            let busqueda;
            var total;
            var cantidad;
            total=0;
            cantidad=0;
            if(data=='r'){
                cabecera=this.headerreportes;
                busqueda= this.reportes;
                this.loadingvp=true;
            }
            if(data=='o'){
              console.log(this.totalf,this.cantidadf);
                cabecera=this.headerordenes;
                busqueda=this.ordenes;
                for(let index of this.ordenes)
                {
                  total+=index.totalOrden;
                  cantidad+=index.unidades;
                }
                this.loadingpp=true;
            }
            if(data=='p'){
                cabecera=this.headerproducto;
                busqueda= this.productos;
                this.loadingpp=true;
            }
            if(data=='f'){
                cabecera=this.headerfacturas;
                busqueda=this.facturas;
                for(let index of this.facturas)
                {
                    total+=index.monto;
                    cantidad+=index.pagado;
                }
                this.loadingfp=true;
            }
            axios({
                method:'post',
                url:'/services/generarpdf',
                responseType:'blob',
                data: {
                    'cabecera':cabecera,
                    'busqueda':busqueda,
                    'tipo':data,
                    'titulo':title,
                    'filtros':[],
                    'fechaIni':this.dateD,
                    'fechaFin':this.dateH,
                    'total': total,
                    'unidades': cantidad
                }
            }).then((response)=> {
                  if(data=='f') this.loadingfp=false;
                  if(data=='o') this.loadingop=false;
                  if(data=='r') this.loadingvp=false;
                  if(data=='p') this.loadingpp=false;
                  const url = window.URL.createObjectURL(new Blob([response.data]));
                  const link = document.createElement('a');
                  link.href = url;
                  link.setAttribute('download', 'Reporte.pdf');
                  document.body.appendChild(link);
                  link.click();

                }

            );
        }

    },
    
  }
</script>
<style >
  #table .btn.btn--disabled .icon.material-icons {
    color: grey !important;
  }
  #table .btn.btn--icon:not([disabled]) .icon.material-icons {
    color: black !important;
  }
  .application .theme--light.btn.btn--disabled:not(.btn--icon):not(.btn--flat), .theme--light .btn.btn--disabled:not(.btn--icon):not(.btn--flat) {
      background-color: green !important;
      color: white !important;
    }
    /*.application .theme--light.btn.btn--disabled, .application .theme--light.btn.btn--disabled .icon, .theme--light .btn.btn--disabled, .theme--light .btn.btn--disabled .icon {
      color: white !important;
    }*/
</style>