<template>
    <div>
        <v-data-table
                :headers="rol"
                :items="items"
                class="elevation-1"
                :search="search"
                no-results-text="No se encuentro"
                no-data-text="Sin Resultados"
                :rows-per-page-items = '[25,50,100,{"text":"All","value":-1}]'
                rows-per-page-text="Registros por pagina"
                v-if="this.tipo == 'Roles'"
        >
            <template slot="items" slot-scope="props">
                <td>{{ props.item.id }}</td>
                <td class="">{{ props.item.descripcion }}</td>
            </template>
        </v-data-table>
        <v-data-table
                :headers="perfil"
                :items="items"
                class="elevation-1"
                :search="search"
                no-results-text="No se encuentro"
                no-data-text="Sin Resultados"
                :rows-per-page-items = '[25,50,100,{"text":"All","value":-1}]'
                rows-per-page-text="Registros por pagina"
                v-else
        >
            <template slot="items" slot-scope="props">
                <td class="">{{ props.item.descripcion }}</td>
                <td >{{ props.item.alias}}</td>
            </template>
        </v-data-table>
    </div>
</template>
<script>
    export default {
        props : ['valores','tipo'],
        data : () => ({
            dialog: false,
            header:[],
            rol: [
                {
                    text: 'Codigo',
                    value: 'id'
                },
                { text: 'Descripcion', value: 'descripcion' },
            ],
            perfil:[
                { text: 'Descripcion', value: 'descripcion' },
                { text: 'Alias', value: 'Alias' },
            ],
            search: '',
            load: false,
            items: [],
            edit:true,
            action:'add',
        }),
        created () {
            this.initialize()
        },
        methods : {
            initialize() {
                this.items = this.valores;
            }
        }
    }
</script>