<template>
    <div>
        <v-dialog v-model="dialog" max-width="500px">
                <v-btn color="primary" dark slot="activator" class="btn2 btn-w siif">Agregar</v-btn>
                <v-card>
                    <v-card-title>
                        <span class="headline">{{ formTitle }}</span>
                    </v-card-title>
                    <v-card-text>
                        <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12 sm6 md4 >
                                    <v-text-field label="Codigo" v-model="editedItem.id" :disabled="!edit"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md4>
                                    <v-text-field label="Descripcion" v-model="editedItem.descripcion"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md4 v-if="editedItem.alias">
                                    <v-text-field label="Alias" v-model="editedItem.alias"></v-text-field>
                                </v-flex>
                                 <v-flex xs12 sm6 md4 v-if="tipo=='Paises'">
                                    <v-text-field label="telefono nacional" v-model="editedItem.codigo"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md4 v-if="editedItem.tipo">
                                    <v-text-field label="Tipo" v-model="editedItem.tipo"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md4 v-if="editedItem.pais">
                                    <v-text-field label="Pais" v-model="editedItem.pais"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md4 v-if="editedItem.estado">
                                    <v-text-field label="Estado" v-model="editedItem.estado"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md4 v-if="editedItem.abr!=undefined && tipo=='Paises'">
                                    <v-text-field label="Abreviatura" v-model="editedItem.abr"></v-text-field>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn class="btn2 btn-w accent" flat @click.native="close">Cancelar</v-btn>
                        <v-btn class="btn2 btn-w siif" flat @click.native="save">Guardar</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        <div v-if="load">
            <v-progress-linear :indeterminate="load" ></v-progress-linear>
            <p class="text-center">Procesando</p>
        </div>
        <v-list v-if="!load">
            <v-spacer></v-spacer>
            <div class="row">
                <div class="col-md-6">
                    <v-text-field
                            append-icon="search"
                            label="Buscar"
                            single-line
                            hide-details
                            v-model="search"
                    ></v-text-field>
                </div>
            </div>
            <v-data-table
                    :headers="header"
                    :items="items"
                    class="elevation-1"
                    :search="search"
                    no-results-text="No se encuentra"
                    no-data-text="Sin Resultados"
                    :rows-per-page-items = '[25,50,100,{"text":"All","value":-1}]'
                    rows-per-page-text="Registros por pagina"
                    v-if="this.tipo=='Horarios' || this.tipo=='DiasVisita' || this.tipo=='DiasFeriados'"
            >
                <template slot="items" slot-scope="props">
                    <td>{{ props.item.id }}</td>
                    <td class="">{{ props.item.descripcion }}</td>
                    <td class="" v-if="prop.item.alias">{{ props.item.alias}}</td>
                    <td class="" v-if="prop.item.tipo">{{ props.item.tipo}}</td>
                    <td class="" v-if="prop.item.abr">{{ props.item.abr}}</td>
                    <td class="" v-if="prop.item.pais">{{ props.item.pais}}</td>
                    <td class="" v-if="prop.item.estado">{{ props.item.estado}}</td>
                    <td class=" layout px-0">
                        <v-btn icon class="mx-0" @click="editItem(props.item)">
                            <v-icon color="accent">edit</v-icon>
                        </v-btn>
                        <v-btn icon class="mx-0" @click="deleteItem(props.item)">
                            <v-icon color="pink">delete</v-icon>
                        </v-btn>
                    </td>
                </template>
            </v-data-table>
            <v-data-table
                    :headers="headers"
                    :items="items"
                    class="elevation-1"
                    :search="search"
                    no-results-text="No se encuentro"
                    no-data-text="Sin Resultados"
                    :rows-per-page-items = '[25,50,100,{"text":"All","value":-1}]'
                    rows-per-page-text="Registros por pagina"
                    v-else
            >
                <template slot="items" slot-scope="props">
                    <td>{{ props.item.id }}</td>
                    <td class="">{{ props.item.descripcion }}</td>
                    <td class=" layout px-0">
                        <v-btn icon class="mx-0" @click="editItem(props.item)">
                            <v-icon color="accent">edit</v-icon>
                        </v-btn>
                        <v-btn icon class="mx-0" @click="deleteItem(props.item)">
                            <v-icon color="pink">delete</v-icon>
                        </v-btn>
                    </td>
                </template>
            </v-data-table>
        </v-list>
    </div>
</template>
<script>
    export default {
        props : ['valores','tipo'],
        data : () => ({
            dialog: false,
            headers: [
                {
                    text: 'Codigo',
                    align: 'left',
                    sortable: false,
                    value: 'id'
                },
                { text: 'Descripcion', value: 'descripcion' },
                { text: 'Actions', value: 'name', sortable: false }
            ],
            search: '',
            load: false,
            items: [],
            edit:true,
            action:'add',
            editedIndex: -1,
            editedItem: {
                id: '',
                descripcion: '',
                alias:'',
                pais:'',
                estado:'',
                abr:'',
                tipo:'',
                codigo:''
              
            },
            defaultItem: {
                id: '',
                descripcion: '',
                alias:'',
                pais:'',
                estado:'',
                abr:'',
                tipo:'',
                codigo:''
               
            }
        }),
        computed: {
            formTitle () {
                return this.editedIndex === -1 ? 'Agregar' : 'Editar'
            }
        },

        watch: {
            dialog (val) {
                val || this.close()
            }
        },
        created () {
            this.initialize()
        },
        methods : {
            initialize () {
                this.items = this.valores;
            },
            editItem (item) {
                this.editedIndex = this.items.indexOf(item),
                this.editedItem = Object.assign({}, item),
                this.dialog = true,
                this.action='upd',
                this.edit=false
            },

            deleteItem (item) {
                const index = this.items.indexOf(item)
                //console.log(index)
                confirm('Estas seguro que quieres eliminar este objeto') && this.deleteData(index)
            },
            deleteData(id){
                let process=this.tipo.toLowerCase()
                axios.post('/services/'+process+'/del',{"id":this.items[id].id})
                    .then((res)=>{
                        this.items.splice(id, 1);
                    });
            },
            close () {
                this.dialog = false
                this.edit=true;
                this.action='add';
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300)

            },
            addItem(item){

                if (this.editedIndex > -1) {
                    Object.assign(this.items[this.editedIndex], item)

                } else {
                    this.items.push(item)
                }

            },
            save () {
                let process=this.tipo.toLowerCase();
                 console.log("codigo "+(this.editedItem.tipo!=undefined))
                axios.post('/services/'+process+'/'+this.action,{
                    "id":this.editedItem.id,
                    "descripcion":this.editedItem.descripcion,
                    "codigo":this.editedItem.codigo,
                    "abreviatura":this.editedItem.abr,
                    "alias":this.editedItem.alias,
                    "tipo":this.editItem.tipo,
                    "pais":this.editItem.pais,
                    "estado":this.editItem.estado
                    })
                    .then((res)=>{
                           if(!(res.data.id==undefined) && this.editedItem.id=='')
                              this.editedItem.id=res.data.id;
                              
                        if (this.editedIndex > -1) {
                            Object.assign(this.items[this.editedIndex], this.editedItem);

                        } else {
                            this.items.push(this.editedItem)
                        }
                        this.edit=true;

                        this.close();
                    });
            }
            /*editItem(item){
                console.log('realizando la accion')
                axios.get('/admin/personas/upd_persona',{id:item.documento_identidad}).then(function (response) {
                      //  console.log(response.data)
                       // window.location = response.data
                    });
            }*/
        }
    }
</script>

<style >
    .btn2{
        padding: 0 !important;
    }

</style>