.victoria{
    background-color: #63c10d !important;
}
body{
    background-image: url("../img/Login.png");
    background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
	background-position: center center;
	background-color: #fff;
}

.login{

  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
