
* {
    padding: 0;
    margin: 0;
}

body{font:16px/1 sans-serif}


.victoria-text{
    color: #63c10d !important;
}
.hover-victoria:hover{
    color: #4e9c0d !important;
}
.fondo-home {
    background: url("../img/fondoRTR.png") !important;
    min-height:  100vh !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
.modificar{
    position: relative;
    background: white  !important;
    top: 15%;
    border-bottom-color: white;
    padding: 2px;
    transform: skewX(45deg);
    width: 100%;
}
.modificar .media {
    transform: skewX(-45deg);
}
p#title-system {
    display: inline-block;
}

header {
    background: linear-gradient(to right, white, black);
    width: 100%;
    height: auto;
    z-index: 2;
    padding-left: 15px;
    padding-right: 15px;
}
.header {
    position: relative;
    z-index: 10001;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: none;
    box-shadow: none;
}

.navbar {
    background-color: transparent;
}
.navbar .dropdown-menu a:hover {
    color: #8fa63b !important;
}

#date{
    color: #54b6e2;
    font-weight: 500;
}

.cuadro-verde {
    border-top: 38px solid #63c10d;
    border-left: 0px solid transparent;
    border-right: 40px solid transparent;
    height: 0px;
    width: 125%;
}

/*VERTICAL MENU*/
nav.vertical{
    position:relative;
    width:107%;
    z-index: 30;
}

/* ALL UL */
nav.vertical ul{
    list-style: none;
}
/* ALL LI */
nav.vertical li{
    position:relative;
}

/* ALL A HOVER */
nav.vertical li:hover > a{
    background:#778;
}

/* INNER UL HIDE */
nav.vertical ul ul{
    position:absolute;
    left:0%;
    top:0;
    width:100%;
    visibility:hidden;
    opacity:0;
    transition: transform 0.2s;
    transform: translateX(50px);
}
/* INNER UL SHOW */
nav.vertical li:hover > ul{
    left:100%;
    visibility:visible;
    opacity:1;
    z-index: 40;
    transform: translateX(0px);
}

hr {
    margin-top: 0rem;
    margin-bottom: 0rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

nav.vertical a {
    display: block;
    color: #fefefe;
    text-decoration: none;
    padding: 10px 15px;
    background: #4d4d4d;
    transition: 0.2s;
}

nav.vertical li:hover > a {
    background: #20a0da;
    color: #fff
}

.panel-title {
    top: 1rem;
    right: -15px;
    background: -moz-linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.67) 20%, rgba(165,165,165,0.83) 31%, rgba(135,135,135,0.94) 39%, rgba(91,91,91,0.96) 51%, rgba(68,68,68,1) 68%, rgba(63,63,63,1) 72%, rgba(25,25,25,1) 91%);
    background: -webkit-linear-gradient(45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.67) 20%,rgba(165,165,165,0.83) 31%,rgba(135,135,135,0.94) 39%,rgba(91,91,91,0.96) 51%,rgba(68,68,68,1) 68%,rgba(63,63,63,1) 72%,rgba(25,25,25,1) 91%);
    background: linear-gradient(45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.67) 20%,rgba(165,165,165,0.83) 31%,rgba(135,135,135,0.94) 39%,rgba(91,91,91,0.96) 51%,rgba(68,68,68,1) 68%,rgba(63,63,63,1) 72%,rgba(25,25,25,1) 91%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#191919',GradientType=1 );
    width: 45%;
    height: 18vh;
}

.titulo-opcion, .titulo-opcion2, .titulo-opcion3{
    border-radius: 12px !important;
    background-color: #005ab6;
    color: white;
    width: 80%;
    padding: 0.5%;
}
.titulo-opcion3 h3, .titulo-opcion2 h3{
    font-size: 20px !important;
    font-weight: 700;
    margin-bottom: 0;
}
.titulo-opcion3 {
    margin-top: -1rem;
    margin-left: 31%;
    width: 66%;
}


ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color:transparent;
    margin-left: 2rem;
    margin-bottom: .5rem !important;
}
ul.breadcrumb li {
    display: inline;
    font-size: 20px;
    /* font-weight: 600; */
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #005ab6;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #3a487e;
    text-decoration: underline;
}
input[type=date], input[type=datetime-local], input[type=email], input[type=number], input[type=password], input[type=search-md], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], textarea.md-textarea {
    height: 1.4rem;
}
.md-form label {
    left: inherit;
}
.md-form, .md-form .btn {
    margin-bottom: -9px !important;
}

.d-flex > *, .d-inline-flex > * {
    -webkit-box-flex: inherit !important;
    -ms-flex: none !important;
    flex: none !important;
}
.input-group__input > input {
    border-bottom: 0 !important;
    box-shadow: none !important;
}
.table td {
    vertical-align: middle !important;
}

select.form-control {
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
}

#mesage {
    height: 10rem;
    padding: 2%;
    border: 1px solid;
    border-color: #8fa63b;
    background-color: white;
}

.btn{
    color: black;
}

.btn-w{
    color:white !important;
}

.btn-ct {
    padding: 1% !important;
    width: 80px;
    margin-left: 0px;
    margin-top: -5px;
    border-radius: 4px !important;
}

.panel {
    border: 1px solid #ddd;
    padding: 1%;
}

.progress .progress-bar {
    height: 100% !important;
    background-color: #20a0da !important;
    background-repeat: initial !important;
}
.application {
    line-height: inherit !important;
}