.trapezoid1 {
    left: 50%;
    top: -39px;
    position: absolute;
    height: 37px;
    width: 49%;
    margin-left: 23px;
    background-color: transparent;
    z-index: 0;
}
.trapezoid1:before {
    content: '';
    width: 20%;
    height: 100%;
    left: -4%;
    top: 0;
    position: absolute;
    border-color: #d9d9d9;
    border-style: solid;
    border-width: 3px 0px 3px 3px;
    -webkit-transform: skewX(45deg);
    transform: skewX(-45deg);
    z-index: 0;
}

.trapezoid1:after {
    content: '';
    width: 20%;
    height: 100%;
    margin-top: 0px;
    right: 72%;
    position: absolute;
    border-color: #d9d9d9;
    border-style: solid;
    border-width: 3px 3px 3px 0px;
    -webkit-transform: skewX(0deg);
    transform: skewX(45deg);
    z-index: 0;
}
.my-input1{
    position: absolute;
    border-style: none;
    width: 25%;
    margin-left: 0;
    margin-top: 5px;
    height: 71%;
    font-size: 20px;
    z-index: 10;
    background-color: transparent;
}
.my-input1:focus{
    outline:none
}